
  <button id="btn-x" type="button" class="btn primary">Primary</button>
  <button id="btn-x" type="button" class="btn primary rounded">Primary Rounded</button> 
  <button id="btn-x" type="button" class="btn outline">Primary Outline</button>
  <button id="btn-x" type="button" class="btn outline rounded">Outline Rounded</button>
  <button id="btn-x" type="button" class="btn primary rounded" disabled>Disabled Primary Rounded</button> 
