/*colors*/
.color_pelorous {
  color: $color_pelorous;
}
.color_cinnabar {
  color: $color_cinnabar;
}
.color_jaffa {
  color: $color_jaffa;
}
.color_fiord {
  color: $color_fiord;
}
.color_golda {
  color: $color_golda;
}
.color_congress_blue {
  color: $color_congress_blue;
}
.color_big_stone {
  color: $color_big_stone;
}
.color_black {
  color: $color_black;
}
.color_white {
  color: $color_white;
}
.color_gallery {
  color: $color_gallery;
}
.color_alto {
  color: $color_alto;
}
.color_silver {
  color: $color_silver;
}
.color_van_cleef {
  color: $color_van_cleef;
}
.color_costa_del_sol {
  color: $color_costa_del_sol;
}
.color_sushi {
  color: $color_sushi;
}
.color_luxor_gold {
  color: $color_luxor_gold;
}
.color_silver_chalice {
  color: $color_silver_chalice;
}
.color_dusty_gray {
  color: $color_dusty_gray;
}
.color_boulder {
  color: $color_boulder;
}
.color_azure_radiance {
  color: $color_azure_radiance;
}
.color_purple_heart {
  color: $color_purple_heart;
}
.color_web_orange {
  color: $color_web_orange;
}
.color_pistachio {
  color: $color_pistachio;
}
.color_seance {
  color: $color_seance;
}
.color_deep_cove {
  color: $color_deep_cove;
}
.color_curious_blue {
  color: $color_curious_blue;
}
.color_electric_violet {
  color: $color_electric_violet;
}

/*backgrounds*/
.background_pelorous {
  background-color: $background_pelorous;
}
.background_cinnabar {
  background-color: $background_cinnabar;
}
.background_jaffa {
  background-color: $background_jaffa;
}
.background_fiord {
  background-color: $background_fiord;
}
.background_golda {
  background-color: $background_golda;
}
.background_congress_blue {
  background-color: $background_congress_blue;
}
.background_big_stone {
  background-color: $background_big_stone;
}
.background_black {
  background-color: $background_black;
}
.background_white {
  background-color: $background_white;
}
.background_gallery {
  background-color: $background_gallery;
}
.background_alto {
  background-color: $background_alto;
}
.background_silver {
  background-color: $background_silver;
}
.background_van_cleef {
  background-color: $background_van_cleef;
}
.background_costa_del_sol {
  background-color: $background_costa_del_sol;
}
.background_sushi {
  background-color: $background_sushi;
}
.background_luxor_gold {
  background-color: $background_luxor_gold;
}
.background_silver_chalice {
  background-color: $background_silver_chalice;
}
.background_dusty_gray {
  background-color: $background_dusty_gray;
}
.background_boulder {
  background-color: $background_boulder;
}
.background_azure_radiance {
  background-color: $background_azure_radiance;
}
.background_purple_heart {
  background-color: $background_purple_heart;
}
.background_purple_dark {
  background-color: $background_purple_dark;
}
.background_web_orange {
  background-color: $background_web_orange;
}
.background_orange_dark {
  background-color: $background_orange_dark;
}
.background_pistachio {
  background-color: $background_pistachio;
}
.background_green_dark {
  background-color: $background_green_dark;
}
.background_seance {
  background-color: $background_seance;
}
.background_seance_dark {
  background-color: $background_seance_dark;
}
.background_deep_cove {
  background-color: $background_deep_cove;
}
.background_curious_blue {
  background-color: $background_curious_blue;
}
.background_curious_blue {
  background-color: $background_electric_violet;
}

/*borders*/
.border_pelorous {
  border-color: $border_pelorous;
}
.border_cinnabar {
  border-color: $border_cinnabar;
}
.border_jaffa {
  border-color: $border_jaffa;
}
.border_fiord {
  border-color: $border_fiord;
}
.border_golda {
  border-color: $border_golda;
}
.border_congress_blue {
  border-color: $border_congress_blue;
}
.border_big_stone {
  border-color: $border_big_stone;
}
.border_black {
  border-color: $border_black;
}
.border_white {
  border-color: $border_white;
}
.border_gallery {
  border-color: $border_gallery;
}
.border_alto {
  border-color: $border_alto;
}
.border_silver {
  border-color: $border_silver;
}
.border_van_cleef {
  border-color: $border_van_cleef;
}
.border_costa_del_sol {
  border-color: $border_costa_del_sol;
}
.border_sushi {
  border-color: $border_sushi;
}
.border_luxor_gold {
  border-color: $border_luxor_gold;
}
.border_silver_chalice {
  border-color: $border_silver_chalice;
}
.border_dusty_gray {
  border-color: $border_dusty_gray;
}
.border_boulder {
  border-color: $border_boulder;
}
.border_azure_radiance {
  border-color: $border_azure_radiance;
}
.border_purple_heart {
  border-color: $border_purple_heart;
}
.border_web_orange {
  border-color: $border_web_orange;
}
.border_pistachio {
  border-color: $border_pistachio;
}
.border_seance {
  border-color: $border_seance;
}
.border_deep_cove {
  border-color: $border_deep_cove;
}
.border_curious_blue {
  border-color: $border_curious_blue;
}
.border_curious_blue {
  border-color: $border_electric_violet;
}
