/*latobold*/
@font-face {
  font-family: "latobold";
  src: url("../fonts/lato/bold/lato-bold-webfont.eot");
  src: url("../fonts/lato/bold/lato-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/lato/bold/lato-bold-webfont.woff2") format("woff2"),
    url("../fonts/lato/bold/lato-bold-webfont.woff") format("woff"),
    url("../fonts/lato/bold/lato-bold-webfont.ttf") format("truetype"),
    url("../fonts/lato/bold/lato-bold-webfont.svg#latobold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*latoregular*/
@font-face {
  font-family: "latoregular";
  src: url("../fonts/lato/regular/lato-regular-webfont.eot");
  src: url("../fonts/lato/regular/lato-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/lato/regular/lato-regular-webfont.woff2") format("woff2"),
    url("../fonts/lato/regular/lato-regular-webfont.woff") format("woff"),
    url("../fonts/lato/regular/lato-regular-webfont.ttf") format("truetype"),
    url("../fonts/lato/regular/lato-regular-webfont.svg#latoregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*montserratbold*/
@font-face {
  font-family: "montserratbold";
  src: url("../fonts/montserrat/bold/montserrat-bold-webfont.eot");
  src: url("../fonts/montserrat/bold/montserrat-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/montserrat/bold/montserrat-bold-webfont.woff2")
      format("woff2"),
    url("../fonts/montserrat/bold/montserrat-bold-webfont.woff") format("woff"),
    url("../fonts/montserrat/bold/montserrat-bold-webfont.ttf")
      format("truetype"),
    url("../fonts/montserrat/bold/montserrat-bold-webfont.svg#montserratbold")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*montserratmedium*/
@font-face {
  font-family: "montserratmedium";
  src: url("../fonts/montserrat/medium/montserrat-medium-webfont.eot");
  src: url("../fonts/montserrat/medium/montserrat-medium-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/montserrat/medium/montserrat-medium-webfont.woff2")
      format("woff2"),
    url("../fonts/montserrat/medium/montserrat-medium-webfont.woff")
      format("woff"),
    url("../fonts/montserrat/medium/montserrat-medium-webfont.ttf")
      format("truetype"),
    url("../fonts/montserrat/medium/montserrat-medium-webfont.svg#montserratmedium")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*montserratregular*/
@font-face {
  font-family: "montserratregular";
  src: url("../fonts/montserrat/regular/montserrat-regular-webfont.eot");
  src: url("../fonts/montserrat/regular/montserrat-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/montserrat/regular/montserrat-regular-webfont.woff2")
      format("woff2"),
    url("../fonts/montserrat/regular/montserrat-regular-webfont.woff")
      format("woff"),
    url("../fonts/montserrat/regular/montserrat-regular-webfont.ttf")
      format("truetype"),
    url("../fonts/montserrat/regular/montserrat-regular-webfont.svg#montserratregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*montserratsemibold*/
@font-face {
  font-family: "montserratsemibold";
  src: url("../fonts/montserrat/semibold/montserrat-semibold-webfont.eot");
  src: url("../fonts/montserrat/semibold/montserrat-semibold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/montserrat/semibold/montserrat-semibold-webfont.woff2")
      format("woff2"),
    url("../fonts/montserrat/semibold/montserrat-semibold-webfont.woff")
      format("woff"),
    url("../fonts/montserrat/semibold/montserrat-semibold-webfont.ttf")
      format("truetype"),
    url("../fonts/montserrat/semibold/montserrat-semibold-webfont.svg#montserratsemibold")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*Icons*/
@font-face {
  font-family: "fontello";
  src: url("../fonts/icons/fontello.eot?54233496");
  src: url("../fonts/icons/fontello.eot?54233496#iefix")
      format("embedded-opentype"),
    url("../fonts/icons/fontello.woff?54233496") format("woff"),
    url("../fonts/icons/fontello.ttf?54233496") format("truetype"),
    url("../fonts/icons/fontello.svg?54233496#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
