/*sliderEventsBienestar*/
.sliderEventsBienestar {
  margin: 60px 0;
  padding: 60px 0 60px 0;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media (max-width: $mobile) {
    padding: 60px 0 0 0;
  }
  .content {
    .c-content {
      .sliderEvents__content {
        .sliderEvents__left {
          z-index: 1;
          padding-top: 30px;
          @media (max-width: $mobile) {
            padding-top: 0;
          }
          h2 {
            color: $color_white;
          }
          p {
            padding-top: 5px;
            color: $color_white;
          }
          .btn-header {
            right: inherit;
            bottom: inherit;
            display: block;
            padding-top: 35px;
            color: $color_white;
            position: relative;
            @media (max-width: $mobile) {
              display: none;
            }
            .icon-icon-arrow-btn {
              color: $color_white;
            }
          }
        }
        .sliderEvents__right {
          top: 60px;
          right: 0;
          z-index: 1;
          padding: 0;
          position: absolute;
          @media (max-width: $mobile) {
            top: inherit;
            right: inherit;
            position: relative;
            padding: 30px 0 40px 0;
          }
          .s-sliderEvents {
            padding: 35px 0 25px 30px;
            background-color: $background_white;
            article {
              padding-right: 30px;
              border-right: 1.5px solid $border_gallery;
              .date {
                .day {
                  color: $color_big_stone;
                  font-size: 1.875rem;
                  line-height: 37px;
                  font-family: $montserratsemibold;
                }
                .month {
                  color: $color_golda;
                  font-size: 1.875rem;
                  line-height: 37px;
                  text-transform: uppercase;
                  font-family: $montserratregular;
                }
              }
              .time {
                color: $color_boulder;
                font-size: 0.75rem;
                padding-top: 15px;
                font-family: $montserratsemibold;
              }
              .btn-link {
                padding-top: 15px;
              }
            }
            .owl-nav {
              right: 20%;
              bottom: -65px;
              position: absolute;
              @media (max-width: $desktop_1640) {
                right: 10%;
                bottom: -55px;
              }
              @media (max-width: $desktop_1440) {
                right: 17%;
                bottom: -55px;
              }
              @media (max-width: $desktop_1366) {
                right: 14%;
                bottom: -55px;
              }
              @media (max-width: $desktop_1280) {
                right: 11%;
                bottom: -55px;
              }
              @media (max-width: $desktop_1024) {
                right: 8%;
                bottom: -55px;
              }
            }
            .owl-dots {
              @media (max-width: $mobile) {
                bottom: -45px;
                position: absolute;
              }
            }
          }
        }
      }
    }
    .c-bottom {
      @media (max-width: $tablet) {
        display: none;
      }
      @media (max-width: $mobile) {
        display: block;
      }
    }
  }
  .layer {
    opacity: 0.8;
    background-color: $background_congress_blue;
  }
}
