/*sliderSubjectsCancellation*/
.sliderSubjectsCancellation {
  margin-top: 60px;
  padding: 60px 0 180px 0;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media (max-width: $tablet) {
    padding: 60px 0;
  }
  .content {
    .c-content {
      .sliderSubjectsCancellation__content {
        & > .row {
          flex-direction: row-reverse;
          @media (max-width: $tablet) {
            flex-direction: column;
          }
        }
        .sliderSubjectsCancellation__left {
          z-index: 1;
          padding-top: 50px;
          @media (max-width: $desktop_1024) {
            max-width: 30%;
          }
          @media (max-width: $tablet) {
            max-width: 100%;
            padding-top: 0;
          }
          h2 {
            color: $color_congress_blue;
            text-transform: initial;
          }
          p {
            padding-top: 5px;
            font-size: 1rem;
            line-height: 1.5rem;
            color: $color_congress_blue;

            a, strong {
              font-size: inherit;
              font-weight: 700;
              line-height: inherit;
            }
            
            a {
              text-decoration: underline !important;
            }
          }
          .btn-header {
            right: inherit;
            bottom: inherit;
            display: inline-block;
            margin-top: 40px;
            color: $color_congress_blue;
            position: relative;
            @media (max-width: $mobile) {
              display: none;
            }
            .icon-icon-arrow-btn {
              color: $color_congress_blue;
            }
          }
        }
        .sliderSubjectsCancellation__right {
          top: 60px;
          left: 0;
          z-index: 1;
          padding: 0;
          position: absolute;
          @media (max-width: $tablet) {
            top: inherit;
            right: inherit;
            position: relative;
            padding: 30px 0 40px 0;
          }
          .s-sliderSubjectsCancellation {
            padding: 60px 40px 60px 0;
            background-color: $background_white;
            @media (max-width: $tablet) {
              padding: 40px 0 40px 30px;
            }
            article {
              padding-right: 60px;
              border-right: 1.5px solid $border_gallery;
              h3 {
                font-size: 1.5rem;
                line-height: 25px;
                padding-bottom: 10px;
              }
              p {
                line-height: 25px;
                font-family: $montserratsemibold;
              }
            }
            .owl-nav {
              right: 3%;
              bottom: -65px;
              position: absolute;
              @media (max-width: $desktop_1640) {
                right: 3%;
                bottom: -55px;
              }
            }
            .owl-dots {
              @media (max-width: $mobile) {
                bottom: -45px;
                position: absolute;
              }
            }
          }
        }
      }
    }
    .c-bottom {
      @media (max-width: $tablet) {
        display: none;
      }
      @media (max-width: $mobile) {
        display: block;
      }
    }
  }
  .layer {
    opacity: 0.8;
    background-color: $background_golda;
  }
}
