
<a rel="alternate" href="https://dev-chocolatecorona.ariadna.co/" 
target="_blank" hreflang="es-MX"class="item-link">Corona Ariadna</a>

<a rel="nofollow" href="https://www.google.com/?hl=es" target="_blank" hreflang="es-MX" class="item-link">Google</a>

<a rel="sponsored" href="https://www.google.com/?hl=es" target="_blank" hreflang="es-MX" class="item-link">Sponsored</a>

