<div class="block-images-link">
  <a href="#" class="component-link-images {{styleLink}}">
    <div class="component-link-images__figure">
      <img src="{{urlImages}}" alt="{{altImages}}" loading="lazy" />
    </div>
    <div class="component-link-images__body">
      <p>{{{textLink}}}</p>
    </div>
  </a>
</div>