<ul class="list-unordered list-icon ">
    <li>Este es un elemento de lista en una lista desordenada con marker de icono usando <a
            href="https://www.compart.com/en/unicode/html">HTML Entities</a></li>  
</ul>