<ul class="accordeon container-list" data-collapsible="accordion">
    <li>
        <div class="accordeon-header">First</div>
        <div class="accordeon-body">
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </li>
    <li>
        <div class="accordeon-header">Second</div>
        <div class="accordeon-body">
            <p>Lorem ipsum dolor sit amet.</p>
        </div> 
    </li>
    <li>
        <div class="accordeon-header">Third</div>
        <div class="accordeon-body">
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </li>
    <li>
        <div class="accordeon-header">Sample</div>
        <div class="accordeon-body">
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </li>
    <li>
        <div class="accordeon-header">Material</div>
        <div class="accordeon-body">
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </li>
    <li>
        <div class="accordeon-header">Style</div>
        <div class="accordeon-body">
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </li>
</ul>