<section class="form-iframe">
    <div class="col-12 col-md-6">
        <div class="iframe-container">
            {{> atoms-iframe}}
        </div>
    </div>
    <div class="col-12 col-md-6">
        {{> organisms-comment-form}}
    </div>
</section>