<div class="template-home">
    <header class="header">

        <a href="#" class="logo">
            <img src="https://dummyimage.com/200x140/000/fff.png" alt="Logo">
        </a>
        <button class="menu-toggle">
            <span class="menu-icon"></span>
            <span class="menu-icon"></span>
            <span class="menu-icon"></span>
        </button>
        <nav class="nav">
            <ul class="nav-menu">
                <li class="nav-item"><a href="#">Inicio</a></li>
                <li class="nav-item"><a href="#">Productos</a></li>
                <li class="nav-item"><a href="#">Servicios</a></li>
                <li class="nav-item"><a href="#">Contacto</a></li>
            </ul>
        </nav>

    </header>
    <div class="complete-banner">
        <picture>
            <source srcset="https://dummyimage.com/414x600/000/fff.png" media="(max-width: 767.98px)" type="image/png">
            <img src="https://dummyimage.com/1920x800/000/fff.png" alt="" title="" typeof="foaf:Image">
        </picture>

        <div class="container-text">
            <h1 class="title-banner">What is Lorem Ipsum?</h1>
            <p class="description-banner">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem
                Ipsum
                has been the industry's
                standard dummy text ever since the 1500s</p>
        </div>
    </div>
    {{> atoms-heading}}
    <footer>
        <div class="footer-container">

            <div class="seo-content2 seo-content2-image">
                <div class="seo-image">
                    <img src="https://dummyimage.com/240x120/000/fff" alt="Footer Image">
                </div>
                <h3 class="title-footer">Detalles</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>

            <div class="seo-content2">
                <h3 class="title-footer">Contactanos</h3>
                <p>Email: info@example.com</p>
                <p>Phone: 123-456-7890</p>
            </div>
            <div class="seo-content2">
                <h3 class="title-footer">Follow Us</h3>
                <ul class="social-media">
                    <li><a href="#"><img src="https://dummyimage.com/40x40/000/fff" alt="Facebook"></a></li>
                    <li><a href="#"><img src="https://dummyimage.com/40x40/000/fff" alt="Twitter"></a></li>
                    <li><a href="#"><img src="https://dummyimage.com/40x40/000/fff" alt="Instagram"></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-copyright">
            <p>&copy; 2023 Your Website. All rights reserved.</p>
        </div>
    </footer>
</div>