$color-white: #ffffff;
$color-white-footer: #F8F8F8;
$color-gray-nav-links-border-bottom: #E2E2E2;
$color-gray-nav-links: #707070;
$color-gray-nav-links-2: #f2f2f2;
$color-input: #fd171f;
$color-input-block: #FF4848;
$color-input-border: #FF3138;
$color-background-product: #F4F4F4;
$color-links-a: #1F1F1F;
$color-black: #000000;
$border-btn-float :#EBEBEB;
$border-detail-product: #B1B1B1;
$border-detail-product-2: #d3d3d3;
$border-forms-quoter: #9B9B9B;
$line-quoter: #D0D0D0;
$backgroun-item-quoter: #F7F7F7;
$backgroun-item-form: #FCFCFC;

// Breakpoints
$mobilex: 375px !default;
$mobilexl: 480px !default;
$mobile: 576px !default;
$tablet: 768px !default;
$desktop: 992px !default;
$desktopL: 1200px !default;
$desktop1310: 1310px !default;
$desktopLS: 1480px !default;
$desktopLSS: 1630px !default;
$desktopXL: 1800px !default;
$desktopXXL: 2200px !default;


$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
