<header class="fix">
    <div class="wrap">
        <div class="header-mobile">
            <a href="/" rel="home">
                <img src="../../../images/faviconCDI_interactive.png" alt="Home">
            </a>

            <nav role="navigation" aria-labelledby="block-subtheme-main-menu-menu" id="block-subtheme-main-menu">
                <ul>
                    <li>
                        <a href="#" class="is-active">Home</a>
                    </li>
                    <li>
                        <a href="#">Nuestros Servicios</a>
                    </li>
                    <li>
                        <a href="#">Quiénes Somos</a>
                    </li>
                    <li>
                        <a href="#">Nuestros Trabajos</a>
                    </li>
                    <li>
                        <a href="#">Trabajemos juntos</a>
                    </li>
                    <li>
                        <a href="#">Contáctanos</a>
                    </li>
                </ul>
            </nav>
            <ul class="links">
                <li class="es is-active"><a href="/" class="language-link is-active">es</a></li>
                <li class="en"><a href="#" class="language-link">en</a></li>
            </ul>


        </div>
    </div>

</header>