// FONTS
@font-face {
	font-family: 'HelveticaItalic';
	src: url("./assets/font/HelveticaBoldItalic.ttf") format("truetype");
}

@font-face {
	font-family: 'HelveticaRegular';
	src: url("./assets/font/HelveticaRegular.ttf") format("truetype");
}

