<a href="#" class="component-link {{styleLink}}">
  <div class="component-link__figure">
    <img src="{{urlImages}}" alt="{{altImages}}" loading="lazy" />
  </div>
  <div class="component-link__body">
    <p>{{{textLink}}}</p>
  </div>
</a>