section.triptico_moon_brand {
  .content {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 40px 20px;
    box-sizing: border-box;
    font-size: 0;
    @media (max-width: $desktop){
          padding: 40px 0;
      }

      article {
        .box_img{
          position: relative;
          p {
            position: absolute;
            z-index: 10;
            width: 100px;
            text-align: center;
            left: 50%;
            margin-left: -50px;
            top: 10px;
            text-transform: uppercase;
            color: #fff;

            &:after {
              width: 40px;
              height: 1px;
              background-color: #fff;
              display: block;
              content: "";
              margin: 10px auto;
            }

          }

          &:before {
            background: linear-gradient(to top,transparent 0,rgba(0,0,0,.15) 25%,rgba(0,0,0,.5) 50%,rgba(0, 0, 0, 0.95) 100%);
            top: 0;
            content: "";
            display: block;
            height: 100px;
            position: absolute;
            width: 100%;
            z-index: 9;
            pointer-events: none;
          }
          &:after {
            background: linear-gradient(to bottom,transparent 0,rgba(0,0,0,.15) 25%,rgba(0,0,0,.5) 50%,rgba(0, 0, 0, 0.95) 100%);
            bottom: 0;
            content: "";
            display: block;
            height: 100px;
            position: absolute;
            width: 100%;
            z-index: 9;
            pointer-events: none;
            opacity: 0;
            @media (max-width: $mobile){
                height: 0;
              }
          }
        }

        .info {
          text-align: center;
          @media (max-width: $mobile){
            margin-top: 30px;
            }

          h3 {
            margin-top: 20px;
            span {
              display: block;
            }

            &:after {
              width: 60px;
              height: 1px;
              background-color: $color-r-blue;
              display: block;
              content: "";
              margin: 16px auto 25px auto;
            }
          }

          p {
            margin-bottom: 20px;
          }

          .btn {
            color: $color-r-blue;
            @media (max-width: $mobileX){
              width: 100%;
            }

            &:hover {
              color: $color-white;
            }
          }

        }
      }

      .owl-dots {
        text-align: center;
        z-index: 10;
        display: block;
        width: 60%;
        max-width: 320px;
        position: relative;
        margin: 30px auto 0 auto;
        left: initial;

        .owl-dot {
         height: 2px;
         width: 17%;
         background: $color-r-grey-lines;
         display: inline-block;
         opacity: 1;
         position: relative;
         margin: 0 1%;

         &.active {
           background: $color-r-blue;
         }
       }
     }

  }
}

section.tabs_moon_brand_mixto {
    .content {
      width: 100%;
      margin: 40px auto;
      overflow: auto;
      padding: 0;
      box-sizing: border-box;

      nav.nav_tabs {
        width: 100%;
        max-width: 1320px;
        margin: 0 auto;
        padding: 0 20px;
        box-sizing: border-box;
        ul {
          width: 100%;
          padding: 25px;
          box-sizing: border-box;
          text-align: center;
          position: relative;
          @media (max-width: $mobile){
            margin: 0;
            padding: 20px;
          }

          &:before {
            position: absolute;
            left: 0;
            width: 100%;
            height: 1px;
            background: linear-gradient(to right,rgba(169,115,62,0) 0,rgba(169,115,62,.02) 1%,#01b0ef 53%,rgba(169,115,62,0) 100%);
            content: '';
            top: 0;
          }

          &:after {
            position: absolute;
            left: 0;
            width: 100%;
            height: 1px;
            background: linear-gradient(to right,rgba(169,115,62,0) 0,rgba(169,115,62,.02) 1%,#01b0ef 53%,rgba(169,115,62,0) 100%);
            content: '';
            bottom: 0;
            @media (max-width: $mobile){
              display: none;
            }
          }

          li {
            width: auto;
            vertical-align: middle;
            margin: 0 1%;
            display: inline-block;
            cursor: pointer;
            padding: 0;
            background: 0 0;
            @media (max-width: $tablet){
              margin: 0;
              padding: 0;
            }

            p {
              font-size: 26px;
              font-family: $gotham-light;
              height: auto;
              cursor: pointer;
              text-transform: uppercase;
              @include hover-transition-5;
            }

            &:before {
              content: "•";
              color: $color-r-blue;
              display: inline-block;
              width: 1em;
              margin-left: -1em;
              margin-right: 1em;
            }

            &:first-child {
              &:before {
                display: none;
              }
            }

            a {
              color: $color-fonts;
            }

            &.active {
              color: $color-r-blue;

              a {
                color: $color-r-blue;
              }

              p {
                color: $color-r-blue;
              }

              span {
                img {
                    margin-top: -48px;
                }
              }

            }

            span {
                width: 48px;
                height: 48px;
                overflow: hidden;
                display: inline-block;
                vertical-align: middle;
                position: relative;
                margin-right: 7px;
            }

            p {
              display: inline-block;
              vertical-align: middle;
            }

            &:hover {
              p {
                color: $color-r-blue;
              }

              span {
                img {
                    margin-top: -48px;
                }
              }
            }

          }
        }

        .owl-nav {
          position: absolute;
          width: 100%;
          margin-left: 0;
          top: 50%;
          margin-top: -14px;
          height: 0;
          z-index: 10;
          left: 0;

           .owl-prev {
               width: 17px;
               height: 28px;
               background-image: url(../img/sprite.png);
               background-size: 200px;
               background-position: -291px 0;
               display: inline-block;
               text-indent: 80px;
               overflow: hidden;
               float: left;
             }

             .owl-next {
               width: 17px;
               height: 28px;
               background-image: url(../img/sprite.png);
               background-size: 200px;
               background-position: -310px 0;
               display: inline-block;
               text-indent: 80px;
               overflow: hidden;
               float: right;
             }
           }

      }

          .content_tabs {
            position: relative;

            .box_tab {
              display: none;

              .video {
                position: relative;
              	padding-bottom: 55.25%; /* 16:9 */
              	padding-top: 25px;
              	height: 0;
                position: relative;

                &:before {
                background: linear-gradient(to top,transparent 0,rgba(0,0,0,.15) 25%,rgba(0,0,0,.5) 50%,#000 100%);
                 top: 0;
                 content: "";
                 display: block;
                 height: 300px;
                 position: absolute;
                 width: 100%;
                 z-index: 9;
                 pointer-events: none;
                 @media (max-width: $tablet){
                   height: 200px;
                 }
                 @media (max-width: $mobile){
                   display: none;
                 }
                }
                 &:after {
                   background: linear-gradient(to bottom,transparent 0,rgba(0,0,0,.15) 25%,rgba(0,0,0,.5) 50%,#000 100%);
                   bottom: 0;
                   content: "";
                   display: block;
                   height: 300px;
                   position: absolute;
                   width: 100%;
                   z-index: 9;
                   pointer-events: none;
                   @media (max-width: $tablet){
                     height: 200px;
                   }
                   @media (max-width: $mobile){
                     display: none;
                   }
                 }

                iframe {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                }
              }

              .images {
                position: relative;

                &:before {
                background: linear-gradient(to top,transparent 0,rgba(0,0,0,.15) 25%,rgba(0,0,0,.5) 50%,#000 100%);
                 top: 0;
                 content: "";
                 display: block;
                 height: 300px;
                 position: absolute;
                 width: 100%;
                 z-index: 9;
                 pointer-events: none;
                 @media (max-width: $tablet){
                   height: 200px;
                 }
                 @media (max-width: $mobile){
                   display: none;
                 }
                }
                 &:after {
                   background: linear-gradient(to bottom,transparent 0,rgba(0,0,0,.15) 25%,rgba(0,0,0,.5) 50%,#000 100%);
                   bottom: 0;
                   content: "";
                   display: block;
                   height: 300px;
                   position: absolute;
                   width: 100%;
                   z-index: 9;
                   pointer-events: none;
                   @media (max-width: $tablet){
                     height: 200px;
                   }
                   @media (max-width: $mobile){
                     display: none;
                   }

                 }

                img {
                  width: 100%;
                }
              }


              &.active {
                display: block;
              }

              .info {
                position: absolute;
                width: 60%;
                left: 20%;
                text-align: center;
                top: 50%;
                transform: translateY(-50%);
                z-index: 9;
                @media (max-width: $tablet){
                  position: relative;
                  transform: initial;
                  top: initial;
                  width: 100%;
                  left: initial;
                  padding: 0 20px;
                  box-sizing: border-box;
                }
                @media (max-width: $mobile){
                    padding: 30px 20px;
                }

                h2 {
                  color: #fff;
                  text-transform: uppercase;
                  margin: 0 0 20px 0;
                  font-size: 68px;
                  line-height: 62px;
                  text-shadow: 1px 1px 2px rgba(12,5,13,.22);
                  @media (max-width: $desktop){
                    font-size: 58px;
                    line-height: 52px;
                  }
                  @media (max-width: $tablet){
                    font-size: 38px;
                    line-height: 36px;
                  }
                  @media (max-width: $mobile){
                    color: $color-r-blue;
                    text-shadow: initial;
                  }
                  @media (max-width: $mobileX){
                    font-size: 37px;
                    line-height: 35px;
                    letter-spacing: -1px;
                  }
                  @media (max-width: $mobileXA){
                    font-size: 35px;
                    line-height: 33px;
                  }
                  @media (max-width: $mobileXS){
                    font-size: 32px;
                    line-height: 31px;
                  }

                  &.noir {
                    width: 100%;
                    max-width: 350px;
                    height: 100px;
                    margin: 0 auto 20px auto;
                    line-height: initial;
                    font-size: 0;
                    background-image: url(../img/noir_white.png);
                    background-repeat: no-repeat;
                    background-size: contain;
                    display: block;
                    @media (max-width: $desktopL){
                        max-width: 260px;
                        height: 70px;
                    }
                    @media (max-width: $desktop){
                        max-width: 218px;
                        height: 60px;
                    }
                    @media (max-width: $tablet){
                        max-width: 200px;
                        height: 57px;
                    }
                    @media (max-width: $mobile){
                      background-image: url(../img/noir_black.png);
                      background-repeat: no-repeat;
                      background-size: contain;
                    }
                    @media (max-width: $mobileX){
                        max-width: 180px;
                        height: 50px;
                    }
                    @media (max-width: $mobileXA){
                        max-width: 140px;
                        height: 38px;
                    }

                  }
                }

                p {
                  color: $color-white;
                  text-shadow: 1px 1px 2px rgba(12,5,13,.22);
                  max-width: 600px;
                  margin: 0 auto 20px auto;
                    @media (max-width: $tablet){
                      color: $color-r-fonts;
                      text-shadow: initial;
                    }
                }

                .btn {
                    color: $color-white;
                    background-color: rgba(0, 0, 0, 0.40);
                    border: 1px solid $color-white;
                    @media (max-width: $mobile){
                      color: $color-r-blue;
                      border: 1px solid $color-r-blue;
                      background-color: transparent;
                    }
                    @media (max-width: $mobileX){
                      width: 100%;
                    }

                    &:hover {
                      background-color: rgba(0, 0, 0, 0.60);
                      @media (max-width: $mobile){
                        color: $color-white;
                        background-color: $color-r-blue;
                      }
                    }
                }

              }

              &.video {
                .images {
                  display: none;
                  @media (max-width: $desktop){
                    display: block;
                  }
                }

                .video {
                  @media (max-width: $desktop){
                    display: none;
                  }
                }

              }

            }

          }


    }
}

section.gallery_moon_brand_three_images_copy {
  overflow: auto;
  .content {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 40px 20px;
    box-sizing: border-box;
    font-size: 0;
    overflow: auto;
    @media (max-width: $desktop){
          padding: 40px 0;
      }

      .content_img {
          width: 55%;
          float: right;
          @media (max-width: $desktop){
            width: 100%;
            float: initial;
            }

          .box_img{
            border: 1px solid $color-white;
            &:nth-child(1) {
                width: 70%;
                float: left;
                overflow: hidden;
                position: relative;
                height: 300px;
                @media (max-width: $tablet){
                  width: 100%;
                  float: initial;
                  height: auto;
                  }

                picture {
                  height: 100%;
                  position: absolute;
                  text-align: center;
                  width: 100%;
                  z-index: 1;
                  @media (max-width: $tablet){
                    position: relative;
                    }

                  img {
                    left: 50%;
                    min-height: 100%;
                    max-width: inherit;
                    position: absolute;
                    transform: translate(-50%,-50%);
                    top: 50%;
                    min-width: 100%;
                    @media (max-width: $tablet){
                      position: relative;
                      top: initial;
                      transform: initial;
                      left: initial;
                      max-width: initial;
                      min-height: initial;
                    }
                  }
                }

            }
            &:nth-child(2),
            &:nth-child(3) {
                width: 30%;
                float: right;
                overflow: hidden;
                position: relative;
                height: 150px;
                @media (max-width: $tablet){
                  width: 100%;
                  float: initial;
                  height: auto;
                  }

                picture {
                  height: 100%;
                  position: absolute;
                  text-align: center;
                  width: 100%;
                  z-index: 1;
                  @media (max-width: $tablet){
                    position: relative;
                    }

                  img {
                    left: 50%;
                    min-height: 100%;
                    max-width: inherit;
                    position: absolute;
                    transform: translate(-50%,-50%);
                    top: 50%;
                    min-width: 100%;
                    max-height: 100%;
                    width: auto;
                    @media (max-width: $tablet){
                      position: relative;
                      top: initial;
                      transform: initial;
                      left: initial;
                      max-width: initial;
                      min-height: initial;
                    }
                  }
                }

            }
          }

          .owl-dots {
            text-align: center;
            z-index: 10;
            display: block;
            position: relative;
            margin: 30px auto 0 auto;
            left: initial;
            width: 60%;
            max-width: 320px;

            .owl-dot {
             height: 2px;
             width: 17%;
             background: $color-r-grey-lines;
             display: inline-block;
             opacity: 1;
             position: relative;
             margin: 0 1%;

             &.active {
               background: $color-r-blue;
             }
           }
         }

      }

      .content_text {
        width: 45%;
        float: left;
        padding-right: 60px;
        box-sizing: border-box;
        overflow: hidden;
        @media (max-width: $desktop){
          width: 100%;
          float: initial;
          padding: 50px 20px 20px 20px;
          max-width: 800px;
          margin: 0 auto;
          text-align: center;
          }

          h3 {
            color: $color-r-blue;
            text-transform: uppercase;
            @media (max-width: $desktop){
              margin-top: 0;
              }

              &:after {
                width: 60px;
                height: 2px;
                background-color: $color-r-grey-font-header;
                display: block;
                content: "";
                margin: 20px 0 40px 0;
                @media (max-width: $desktop){
                  margin: 20px auto 40px auto;
                  }
              }

              span {
                color: $color-r-black;
                font-size: 44px;
                line-height: 38px;
                display: block;
                @media (max-width: $mobileX){
                  font-size: 42px;
                  line-height: 37px;
                }
                @media (max-width: $mobileXA){
                  font-size: 40px;
                  line-height: 36px;
                }
                @media (max-width: $mobileXS){
                  font-size: 38px;
                  line-height: 35px;
                }
              }

          }

          ul,
          ol {
             columns: 2;
             @media (max-width: $desktop){
               text-align: left;
               }
             @media (max-width: $mobile){
               columns: 1;
               }
          }

          p {
            @media (max-width: $desktop){
              text-align: left;
              }
          }

          .btn {
             margin-top: 20px;
             color: $color-r-blue;
             @media (max-width: $mobileX){
               width: 100%;
             }

             &:hover {
               color: $color-white;
             }
          }
      }

    }

    &.slider {
      .content {
        .content_img {
            float: left;

            .box_img{
              border: 0;
              &:nth-child(1) {
                width: 100%;
                float: initial;
                height: auto;
                  picture {
                    position: relative;

                    img {
                      position: relative;
                      top: initial;
                      transform: initial;
                      left: initial;
                      max-width: initial;
                      min-height: initial;
                    }
                  }

              }
              &:nth-child(2),
              &:nth-child(3) {
                width: 100%;
                float: initial;
                height: auto;
                  picture {
                    position: relative;

                    img {
                      position: relative;
                      top: initial;
                      transform: initial;
                      left: initial;
                      max-width: initial;
                      min-height: initial;
                    }
                  }

              }
            }

        }

        .content_text {
          float: right;
          padding-right: 0;
          padding-left: 60px;
          @media (max-width: $desktop){
            float: initial;
            padding: 50px 20px 20px 20px;
            }
        }
      }
    }
}

section.big-deals-join-us{
  background: #edeef0;
  padding: 7px 18px;
  position: fixed;
  bottom: -45px;
  z-index: 999;
  width: 100%;
  -o-transition: all .5s;
  transition: all .5s;
  -webkit-transition: all .5s;
  &.bottom{
    bottom: 0;
  }

  @media (max-width: $desktop){
    padding: 15px 18px;
    bottom: -145px;
    &.bottom{
      bottom: 50px;
    }
  }
  .content{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 0;
  }
  
  h3,p,img,.btn-box{
    vertical-align: middle;
    margin: 0;
    display: inline-block;
  }
  h3{
    font-size: 1.4rem;
    line-height: 1.4rem;
    &:after{
      content: '';
      width: 1px;
      height: 14px;
      background: $color-r-blue;
      display: inline-block;
      margin: 0 9px 0 11px;
      position: relative;
      @media (max-width: $desktop){
        display: none;
      }
    }
  }
  p{
   color: #4c4c4c;
   font-size: 18px;
   
    @media (max-width: $desktop){
      display: block;
      margin-top: 5px;
    }
  }
  .close-join{
    color: $color-r-blue;
    text-transform: uppercase;
    font-size: .9rem;
    text-decoration: underline;
    margin-left: 13px;
    cursor: pointer;
  }
  img{
    margin-right: 5px;
  }
  .btn-box{
    margin-left: 13px;
    @media (max-width: $desktop){
      display: block;
      margin-left: 0;
      margin-top: 9px;
    }
  
   .btn{
    padding: 1px 31px;
    font-size: 19px;
    line-height: 22px;
    background: $color-r-blue;
    &:focus{
      color: #fff;
    }
   }
  }
}
section.big_deals_principal {
  overflow: auto;
  .content {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 40px 0px;
    box-sizing: border-box;
    font-size: 0;
    overflow: auto;
    @media (max-width: $desktop){
          padding: 40px 0;
      }

      h1 {
        text-align: center;
        padding: 0 20px;
        box-sizing: border-box;
        margin-bottom: 16px;
        @media (max-width: $desktop){
              margin-bottom: 30px;
          }
        span {
          color: $color-r-black;
        }
      }

      article {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        padding: 20px;
        position: relative;
        @media (max-width: $desktop){
          width: 100%;
          padding: 0;
        }

        .content_img {
          width: 100%;

          img {
            width: 100%;
          }

          .box_img {
            .info {
              position: absolute;
              right: 15px;
              bottom: 15px;
              width: 100%;
              max-width: 250px;
              z-index: 10;
              text-align: right;

              p {
                color: #fff;
              }
            }

            &:after {
              background: linear-gradient(to bottom,transparent 0,rgba(0,0,0,.15) 25%,rgba(0,0,0,.5) 50%,rgba(0, 0, 0, 0.95) 100%);
              bottom: 0;
              content: "";
              display: block;
              height: 200px;
              position: absolute;
              width: 100%;
              z-index: 9;
              pointer-events: none;
            }


          }

        }
        .content_text {
          width: 100%;
          @media (max-width: $desktop){
            padding: 30px 20px 50px 20px;
            max-width: 800px;
            margin: 0 auto;
          }

          h2 {
            font-size: 32px;
            line-height: 30px;
            text-transform: uppercase;
            @media (max-width: $desktop){
              text-align: center;
            }
            @media (max-width: $mobileX){
              font-size: 31px;
              line-height: 29px;
              letter-spacing: -1px;
            }
            @media (max-width: $mobileXA){
              font-size: 29px;
              line-height: 27px;
            }
            @media (max-width: $mobileXS){
              font-size: 28px;
              line-height: 26px;
            }

            span {
              color: $color-r-black;
            }

            &:after {
              width: 60px;
              height: 1px;
              background-color: $color-r-grey-font-header;
              display: block;
              content: "";
              margin: 20px 0 40px 0;
              @media (max-width: $desktop){
                margin: 20px auto 40px auto;
              }
            }

          }

          ul {
            column-count: 2;
            margin-bottom: 20px;
            @media (max-width: $mobile){
              padding-left: 0;
              column-count: 1;
            }
            li {
              &:before {
                background: url(../img/list-icon.png) no-repeat;
                margin: 0px 17px 10px 0px;
                color: transparent;
              }
            }
          }

          .discount {
            @media (max-width: $desktop){
              text-align: center;
              width: 360px;
              margin: 0 auto;
            }
            @media (max-width: $mobile){
                  width: 300px;
            }
            @media (max-width: $mobileXS){
                  width: 280px;
            }
            p.number {
              font-family: $gotham-ultra;
              font-size: 106px;
              color: $color-r-dark-green;
              line-height: 80px;
              height: 78px;
              margin-bottom: 0;
              display: inline-block;
              vertical-align: middle;
              @media (max-width: $mobile){
                line-height: 82px;
                font-size: 90px;
              }
              @media (max-width: $mobileXS){
                font-size: 82px;
              }

              span {
                font-size: 34px;
                vertical-align: top;
                line-height: 23px;
                @media (max-width: $mobile){
                  line-height: 40px;
                }
              }
            }

            p.title {
                color: $color-r-dark-green;
                margin-bottom: 5px;
                font-size: 14px;
                @media (max-width: $desktop){
                  text-align: left;
                  margin-left: 6px;
                }
            }

            .brands {
              display: inline-block;
              vertical-align: middle;
              padding-left: 20px;
              @media (max-width: $mobile){
                  padding-left: 5px;
              }
              picture {
                  display: inline;

                  img {
                    @media (max-width: $mobile){
                        max-width: 60px;
                    }
                  }
              }
            }

          }

          .box_btns {
              margin-top: 30px;
              @media (max-width: $desktop){
                text-align: center;
              }

              a.btn{
                font-family: $gotham-ultra;
                letter-spacing: 0.7px;
                font-size: 18px;
                color: $color-white;
                background-color: $color-r-blue;
                border: 1px solid $color-r-blue;
                @media (max-width: $mobile){
                  display: block;
                  width: 100%;
                  max-width: 200px;
                  margin: 0 auto 10px auto;
                }

                &:hover {
                  color: $color-r-blue;
                  background-color: transparent;
                  border: 1px solid $color-r-blue;
                }
                &.white {
                    margin-left: 10px;
                    color: $color-r-blue;
                    background-color: transparent;
                    @media (max-width: $mobile){
                      margin: 0 auto 0px auto;
                    }

                    &:hover {
                      background-color: $color-r-blue;
                      margin-left: 10px;
                      color: $color-white;
                    }
                }
              }

          }

        }

        .owl-dots {
          text-align: center;
          z-index: 10;
          display: block;
          max-width: 320px;
          width: 60%;
          position: relative;
          margin: 30px auto 0 auto;
          left: initial;

          .owl-dot {
           height: 2px;
           width: 17%;
           background: $color-r-grey-lines;
           display: inline-block;
           opacity: 1;
           position: relative;
           margin: 0 1%;

           &.active {
             background: $color-r-blue;
           }
         }
       }

       .owl-nav {
         position: absolute;
         width: 96%;
         margin-left: 2%;
         top: 50%;
         margin-top: -38px;
         height: 10px;
         z-index: 10;

        .owl-prev {
            width: 40px;
            height: 78px;
            background-image: url(../img/sprite.png);
            background-size: 200px;
            background-position: 0 -65px;
            display: inline-block;
            text-indent: 80px;
            overflow: hidden;
          }

          .owl-next {
            width: 40px;
            height: 78px;
            background-image: url(../img/sprite.png);
             background-size: 200px;
             background-position: -45px -65px;
            display: inline-block;
            text-indent: 80px;
            overflow: hidden;
            float: right;
          }
        }

        &.principal {
          width: 100%;
          padding: 50px 20px;
          box-sizing: border-box;
          @media (max-width: $desktop){
            padding: 0;
            }

          &:before {
            position: absolute;
            left: 0;
            width: 100%;
            height: 1px;
            background: linear-gradient(to right,rgba(169,115,62,0) 0,rgba(169,115,62,.02) 1%,$color-r-blue 53%,rgba(169,115,62,0) 100%);
            content: '';
            margin-top: 15px;
            top: 0;
            @media (max-width: $desktop){
                  display: none;
              }
          }

          &:after {
            position: absolute;
            left: 0;
            width: 100%;
            height: 1px;
            background: linear-gradient(to right,rgba(169,115,62,0) 0,rgba(169,115,62,.02) 1%,$color-r-blue 53%,rgba(169,115,62,0) 100%);
            content: '';
            margin-top: 15px;
            bottom: 15px;
            @media (max-width: $desktop){
                  display: none;
              }
          }

          .content_img {
            width: 50%;
            float: right;
            @media (max-width: $desktop){
                float: initial;
                width: 100%;
              }

          }

          .content_text {
            width: 50%;
            float: left;
            padding-right: 60px;
            box-sizing: border-box;
            @media (max-width: $desktop){
                float: initial;
                width: 100%;
                padding: 50px 20px;
              }
          }

        }


      }

      .tab_tyc {
          margin-top: 40px;

          .title {
              text-align: center;
              padding: 10px 20px;
              box-sizing: border-box;
              background-color: rgba(206,206,206,.2);
              cursor: pointer;

              p {
                color: $color-r-blue;

                &:after {
                  content: "";
                  display: inline-block;
                  margin-left: 8px;
                  vertical-align: middle;
                  width: 0;
                  height: 0;
                  border-left: 4px solid transparent;
                  border-right: 4px solid transparent;
                  border-top: 8px solid $color-r-blue;
                  @include hover-transition-5;
                }
              }

              &.activo {
                p {
                  &:after {
                    border-top: 0;
                    border-bottom: 8px solid $color-r-blue;
                  }
                }
              }

          }

          .box_terms {
              padding: 20px;
              display: none;
          }
      }


    }
}

section#content-complet-resortcredit{
  width: 100%!important;
}

section.icons_moon_brand {
  overflow: auto;
  background-image: url(../img/resort-credit-card-bg.jpg);
  background-size: cover;
  background-color: #00a6ff26!important;
  .content {
    width: 100%;
    max-width: 1320px;
    margin: 30px auto;
    font-size: 0;
    overflow: auto;
    border: none!important;
    @media (max-width: $desktop){
        padding: 0;
        margin: 0;
      }
    .main_box_icons {
        width: 45%;
        display: inline-block;
        vertical-align: top;
        padding: 30px;
        box-sizing: border-box;
        @media (max-width: $tablet){
          width: 100%;
        }

        h3 {
        	font-size: 28px;
          line-height: 26px;
          text-align: center;
          //display: inline-block;

          @media (max-width: $mobileX){
            font-size: 27px;
            line-height: 24px;
            letter-spacing: -1px;
          }
          @media (max-width: $mobileXA){
            font-size: 25px;
            line-height: 22px;
          }
          @media (max-width: $mobileXS){
            font-size: 24px;
            line-height: 21px;
          }
        }

        .int_box_icons {
            min-height: 290px;
            @media (max-width: $tablet){
              text-align: center;
              min-height: initial;
            }
          .item {
              width: 12%;
              vertical-align: middle;
              text-align: center;
              padding: 8px;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              float: left;
              @media (max-width: $desktop){
                width: 50%;
              }
              @media (max-width: $tablet){
                width: 20%;
              }
              @media (max-width: $mobile){
                width: 25%;
              }
              @media (max-width: $mobileX){
                width: 33.33%;
              }
              @media (max-width: $mobileXS){
                width: 50%;
              }

              &.text {
                  width: 50%;
                  @media (max-width: $desktop){
                    width: 100%;
                  }

                  .box_item {
                      border: 0;
                      background-color: transparent;
                      background:none!important;
                      p {
                        font-size: 16px;
                        line-height: 17px;
                        text-transform: initial;
                        color: $color-r-fonts;
                        height: auto;
                      }
                  }
              }

              .box_item {
                  border: 1px solid $color-r-grey-font-header;
                  border-radius: 10px;
                  background-color: $color-white;
                  padding: 10px;
                  background: #337ab714!important;
                  p {
                    font-size: 11px;
                    text-transform: uppercase;
                    color: $color-r-fonts;
                    line-height: 10px;
                    height: 22px;
                  }

              }
          }
        }

        .box_btn {
            text-align: center;

            .btn {
              font-family: $gotham-ultra;
              letter-spacing: .7px;
              font-size: 18px;
              color: $color-r-blue;

              &:hover {
                color: $color-white;
                background-color: $color-r-blue;
              }
            }
        }

        &.benefits {
          width: 100%;
          @media (max-width: $tablet){
            width: 100%;
          }

          .int_box_icons {
            .four_box {
              border: 0px solid #cecece00;
              background-color: $color-white;
              border-radius: 10px;
              margin: 12px;
              margin-top: 7%;
              @media (max-width: $tablet){
                margin: 12px 0;
              }
              .item {
                  padding: 2px 8px;
                  @media (max-width: $tablet){
                    width: 25%;
                  }
                  @media (max-width: $mobile){
                    width: 33.33%;
                  }
                  @media (max-width: $mobileX){
                    width: 50%;
                  }
                .box_item {
                   border: 0;
                   background-color: transparent;
               }
              }
            }

            .item.text {
              width: 100%;
              text-align: center;
            }

          }

        }

    }

    }
}
