// Colors
$color-white: #ffffff;
$color-blue-light: #5FE1FA;
$color-blue: #4193F7;
$color-blue-background: #4295FA;
$color-font-primary: #162644;
$color-font-second: #3C3C3C;
$color-orange: #FFD241;
$color-nav-slider: #364C8D;
$color-purple: #7B23E2;
$color-gray-light: #EAEAEA;
$color-gray-dark: #A5A5A5;
$color-gray-dark-letter: #656565;
$color-green: #22869A;
$color-green-dark: #025B6C;
$color-green-darklight: #23899D;
$color-bg-noticias: #FAFAFA;
$color-link: #0B1636;
$color-line-border: #AC65FF;
$color-bg-videos: #FFC300;
$color-black-light: #454545;
$color-line-footer: #D1D1D1;
$color-background-404: #54DCF7;
$color-line: #D3D3D3;
$color-btn-icons: #FABF2C;
$color-bg-events: #ACBBE8;
$color-bg-search: #FED330;

// Breakpoints
$mobilex: 375px !default;
$mobilexl: 480px !default;
$mobile: 576px !default;
$tablet: 825px !default;
$desktop: 992px !default;
$desktopL: 1200px !default;
$desktopLS: 1278px !default;
$desktopXL: 1400px !default;


/*Fonts*/
// $montserratlight: "montserratlight";
$montserratbold: "montserratbold";
$montserratmedium: "montserratmedium";
$montserratregular: "montserratregular";
$montserratsemibold: "montserratsemibold";
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;