<div class="contentinfo success">
    <h2>Mensaje success</h2>
</div>

<div class="contentinfo warning">
    <h2>Mensaje success</h2>
</div>

<div class="contentinfo error">
    <h2>Mensaje success</h2>
</div>

<div class="contentinfo info">
    <h2>Mensaje success</h2>
</div>




<button type="button" class="btn primary rounded" id="modalSucess">Success</button>

<div id="modalSucess" class="modal-messaging">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
        </div>
        <div class="modal-body">
            <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
            <lord-icon src="https://cdn.lordicon.com/egiwmiit.json" trigger="hover" colors="primary:#30e849"
                style="width:100px;height:100px">
            </lord-icon>
            <p>Some text in the Modal..</p>
        </div>
    </div>
</div>