.block-banner {
  &.container {
    @include media-query(mindesktopL) {
      max-width: 1050px;
    }
    @include media-query(mindesktopXL) {
      max-width: 1250px;
    }
  }
}

.s-sliderHome {
  width: 94%;
  margin: auto;
  height: auto;

  @include media-query(desktopXL) {
    height: 550px;
  }
  @include media-query(desktopL) {
    width: 100%;
  }
  @include media-query(mindesktopLS) {
    width: 100%;
  }

  .owl-stage-outer {
    height: auto;
    @include media-query(desktopXL) {
      height: 550px;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    padding: 120px 0;
    padding-right: 2rem;

    @include media-query(desktopLS) {
      padding-bottom: 100px;
    }

    @include media-query(desktop) {
      padding: 40px 0;
      padding-right: 2rem;
    }

    @include media-query(tablet) {
      flex-direction: column;
      padding: 0;
      padding-right: 0;
    }

    &--info {
      width: 45%;
      padding-right: 55px;

      @include media-query(tablet) {
        width: 100%;
        padding-right: 0;
        order: 1;
      }

      h1,
      h2 {
        font-size: 4.06rem;
        color: $color-blue-light;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        margin-bottom: 2rem;

        @include media-query(desktopXL) {
          font-size: 3.06rem;
          margin-bottom: 1.5rem;
        }
        @include media-query(desktop) {
          font-size: 2.8rem;
          margin-bottom: 1.5rem;
        }

        @include media-query(tablet) {
          font-size: 3rem;
          margin-bottom: 0.5rem;
        }
      }

      h3 {
        font-size: 2rem;
        color: $color-font-primary;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        line-height: 1.3;
        margin-bottom: 1.7rem;
        @include media-query(desktopXL) {
          font-size: 1.5rem;
        }

        @include media-query(desktop) {
          font-size: 1.2rem;
          margin-bottom: 1.5rem;
        }

        @include media-query(tablet) {
          font-size: 1.3rem;
          margin-bottom: 1rem;
        }
      }

      p {
        font-size: 0.94rem;
        color: $color-font-second;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        margin-bottom: 4rem;

        @include media-query(desktop) {
          font-size: 0.9rem;
        }

        @include media-query(tablet) {
          font-size: 1rem;
          margin-bottom: 2.3rem;
        }

        span,
        strong {
          color: inherit;
          font-family: "Montserrat", sans-serif;
          font-weight: 700;
        }
      }

      a {
        background-color: $color-blue-light;
        border-radius: 10px;
        color: $color-font-primary;
        padding: 0.8rem 3rem;
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;

        @include media-query(desktop) {
          font-size: 1rem;
          padding: 0.8rem 2rem;
        }

        @include media-query(tablet) {
          @include btn-mobile;
        }
      }
    }

    &--img {
      position: relative;
      margin: 0 1rem 0 2rem;
      width: 55%;
      height: 100%;

      @include media-query(desktopXL) {
        width: 41%;
      }

      @include media-query(tablet) {
        width: 80%;
        margin: 70px 10%;
      }

      @include media-query(mindesktopXL) {
        margin: 0 2rem 0 2rem;
      }

      .bg {
        position: absolute;
        width: 98%;
        height: 100%;
        background-color: $color-orange;
        right: 0;
        bottom: 0;
        transform: rotate(330deg) translate(5px, 2px);
      }

      .field--name-field-media-image {
        .field__item {
          img {
            transform: rotate(-24deg);
            max-width: 616px;
            max-height: 490px;
            width: 100%;
            height: auto;
          }
        }
      }

      .bg,
      img {
        border-radius: 88px;

        @include media-query(desktopL) {
          border-radius: 58px;
        }

        @include media-query(desktop) {
          border-radius: 45px;
        }

        @include media-query(tablet) {
          border-radius: 37px;
        }
      }
    }
  }

  .owl-nav {
    @include owl-nav-slider(45%, -8%, -8%);
  }

  .owl-dots {
    @include media-query(tablet) {
      margin-top: 2.5rem;
    }
  }
}
