.modal-formacion-exclusiva-tecmd{
    .node__content{
        .layout__region--content{
            .field--type-text-with-summary{
                .button-external-link{
                    margin-top: 4rem;
                    a{
                        padding: 1.3rem 2rem;
                        background-color: #5FE1FA;
                        border-radius: 14px;
                        font-size: 16px;
                        color: #162644;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}