$color-white: #ffffff;
$color-blue-general: #1442ed;
$color-blue-general-navbar: #04228b;
$color-blue-dark: #000f41;
$color-green: #43c300;
$color-purple: #a233ca;
$color-blue-light: #2490fc;
$color-purple-dark: #7833ca;
$color-brown: #cc653b;
$color-yellow: #ffcd00;
$color-yellow-text-footer: #ffd300;
$color_golda: #ffd300;
$color_blue-text: #0b0b0b;
$color-pink: #ff545c;
$color-gold: #c6a16e;
$color-blue-before: #0842ed;
$color-gray-light: #f2f2f2;
$color-bottom-border: #92afd0;
$color-btn-a: #00071c;
$color-bg-corusera: #f8f8f8;
$color-footer-uno: #162644;
$color-footer-tes: #004a93;
$color-bg-events: #fafafa;
$color-title-news: #041d74;
$color-bg-forms-filter: #fdfdfd;
$color-bg-tags-detalles: #ebebeb;
$color-coursera-title: #0E62CB;

// Breakpoints
$mobilex: 375px !default;
$mobilexl: 480px !default;
$mobile: 576px !default;
$tablet: 768px !default;
$desktop: 992px !default;
$desktopL: 1200px !default;
$desktopLS: 1278px !default;
$desktopXL: 1400px !default;
$desktopXXL: 1800px !default;

$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
