<div id="modalLightBox"> </div>


<section class="gallery-light-box">
    <ul class="galery-list">
        <li class="gallery-item"><a href="#"><img src="https://dummyimage.com/300" alt=""></a></li>
        <li class="gallery-item"><a href="#"><img src="https://dummyimage.com/300" alt=""></a></li>
        <li class="gallery-item"><a href="#"><img src="https://dummyimage.com/300" alt=""></a></li>
        <li class="gallery-item"><a href="#"><img src="https://dummyimage.com/300" alt=""></a></li>
        <li class="gallery-item"><a href="#"><img src="https://dummyimage.com/300" alt=""></a></li>
        <li class="gallery-item"><a href="#"><img src="https://dummyimage.com/300" alt=""></a></li>
        <li class="gallery-item"><a href="#"><img src="https://dummyimage.com/300" alt=""></a></li>
        <li class="gallery-item"><a href="#"><img src="https://dummyimage.com/300" alt=""></a></li>
    </ul>
</section>