.template-article {
  .complete-banner {
    margin-bottom: 60px;
  }

  .molecule-card {
    margin-bottom: 30px;

    .row {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 30px;

      @media (min-width: 576px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (min-width: 992px) {
        grid-template-columns: repeat(3, 1fr);
      }

    }

    .card {
      width: 100%;
    }
  }

}