<div class="block one">
  <h1 class = "block-text">Ejemplo 1</h1>
</div>

<div class="block two">
  <h1 class = "block-text">Ejemplo 2
    <span>is simply dummy text of the printing and</span>
  </h1>
</div>

<div class="block two alt-two">
  <h1 class = "block-text">Alternat
    <span>is simply dummy text of the printing and</span>
  </h1>
</div>
<div class="block three">
  <h1 class = "block-text">It has survived not only five centuries,</h1>
</div>

<div class="block four">
  <h1 class = "block-text"><span>What is Lorem Ipsum?</span> Lorem Ipsum <em>is simply</em> dummy text</h1>
</div>

<div class="block five">
  <h1 class = "block-text">Where does it come from?
    <span>m is not simply random text. It has roots in a piece of classical Latin liter</span>
  </h1>
</div>

<div class="block six">
  <h1 class = "block-text">Why do we use it?
    <span>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</span>
  </h1>
</div>

<div class="block seven">
  <h1 class = "block-text">Lorem Ipsum</h1>
</div>

<div class="block eight">
  <h1 class = "block-text">Lorem Ipsum</h1>
</div>

<div class="block nine">
  <h1 class = "block-text">Where can I get some?<span>Tagline Keywords</span></h1>
</div>

<div class="block ten">
  <h1 class = "block-text">Lorem Ipsum</h1>
</div>

<div class="block eleven">
  <h1 class = "block-text">Lorem Ipsum</h1>
</div>

<div class="block twelve">
  <h1 class = "block-text" >Lorem Ipsum</h1>
</div>

<div class="block thirteen">
  <h1 class = "block-text">Lorem Ipsum</h1>
</div>
<div class="block wrap">
  
</div>