<footer>
  <div class="content">
    <div class="left box">
      <div class="upper">
        <div class="topic">About us</div>
        <p>CodingLab is a channel where you can learn HTML,
          CSS, and also JavaScript along with creative CSS Animations and Effects.</p>
      </div>
      <div class="lower">
        <div class="topic">Contact us</div>
        <div class="phone">
          <a href="#">+007 9089 6767</a>
        </div>
        <div class="email">
          <a href="#">abc@gmail.com</a>
        </div>
      </div>
    </div>
    <div class="middle box">
      <div class="topic">Our Services</div>
      <div><a href="#">Web Design, Development</a></div>
      <div><a href="#">Web UX Design, Reasearch</a></div>
      <div><a href="#">Web User Interface Design</a></div>
      <div><a href="#">Theme Development, Design</a></div>
      <div><a href="#">Mobile Application Design</a></div>
      <div><a href="#">Wire raming & Prototyping</a></div>
    </div>
    <div class="right box">
      <div class="topic">Subscribe us</div>
      <form action="#">
        <input type="text" placeholder="Enter email address">
        <input type="submit" name="" value="Send">
        <div class="media-icons">
          <a href="#">FB</a>
          <a href="#">In</a>
          <a href="#">Tw</a>
          <a href="#">YT</a>
          <a href="#">Lkn</i></a>
        </div>
      </form>
    </div>
  </div>
  <div class="bottom">
    <p>Copyright © 2023 <a href="#">CDI Interactive</a> All rights reserved</p>
  </div>
</footer>
<br />
<footer>
  <div class="footer-container">
    <div class="seo-content">
      <h3 class="title-footer">About Us</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="seo-content">
      <h3 class="title-footer">Contact</h3>
      <p>Email: info@example.com</p>
      <p>Phone: 123-456-7890</p>
    </div>
    <div class="seo-content">
      <h3 class="title-footer">Follow Us</h3>
      <ul class="social-media">
        <li><a href="#"><img src="https://dummyimage.com/40x40/000/fff" alt="Facebook"></a></li>
        <li><a href="#"><img src="https://dummyimage.com/40x40/000/fff" alt="Twitter"></a></li>
        <li><a href="#"><img src="https://dummyimage.com/40x40/000/fff" alt="Instagram"></a></li>
      </ul>
    </div>
  </div>
  <div class="footer-copyright">
    <p>&copy; 2023 Your Website. All rights reserved.</p>
  </div>
</footer>

<br />
<footer>
  <div class="footer-container">

    <div class="seo-content2 seo-content2-image">
      <div class="seo-image">
        <img src="https://dummyimage.com/240x120/000/fff" alt="Footer Image">
      </div>
       <h3 class="title-footer">Detalle</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div class="seo-content2">
      <h3 class="title-footer">Contactanos</h3>
      <p>Email: info@example.com</p>
      <p>Phone: 123-456-7890</p>
    </div>
    <div class="seo-content2">
      <h3 class="title-footer">Follow Us</h3>
      <ul class="social-media">
        <li><a href="#"><img src="https://dummyimage.com/40x40/000/fff" alt="Facebook"></a></li>
        <li><a href="#"><img src="https://dummyimage.com/40x40/000/fff" alt="Twitter"></a></li>
        <li><a href="#"><img src="https://dummyimage.com/40x40/000/fff" alt="Instagram"></a></li>
      </ul>
    </div>
  </div>
  <div class="footer-copyright">
    <p>&copy; 2023 Your Website. All rights reserved.</p>
  </div>
</footer>