<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Drivemotor - Fuso</title>
  <link rel="icon" type="image/png" href="./assets/icons/favicon.png">
  <!-- Aquí puedes agregar tus etiquetas meta para SEO -->
  <style>
    /* Estilos CSS para personalizar la apariencia */
  </style>
</head>

<body>
  <header>
    <!-- Navbar con logo y navlinks -->
    <nav>
      <a data-seo="nav-logo" ref="#">
        <picture>
          <img src="./assets/icons/COLOR.svg" alt="Logo">
        </picture>
      </a>
      <ul class="navbar-menu">
        <li><a data-seo="nav-link" href="#promocion">La Promoción</a></li>
        <li><a data-seo="nav-link" href="#repuestos">Kit Repuestos</a></li>
        <li><a data-seo="nav-link" href="#nuestro-concensionario">Concesionarios</a></li>
        <li><a data-seo="nav-link" href="#terminos-condiciones">Términos y Condiciones</a></li>
        <li><a data-seo="nav-link" href="#contact">Contáctanos</a></li>
      </ul>
      <div class="navbar-burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>
  </header>

  <main>
    <section id="promocion">
      <!-- Banner y texto -->
      <div class="banner">
        <picture>
          <source media="(max-width: 768px)" srcset="./assets/images/main_banner_movil.png">
          <img src="./assets/images/main_banner.png" alt="Banner">
        </picture>
        <div class="banner-text">
          <h1>FUSO, EL JAPONÉS QUE LLEGA MUY BIEN EQUIPADO</h1>
        </div>
        <div class="hubspot-form">
          <h3>Déjanos tus datos</h3>
          <div id="hubspot-form"></div>
        </div>
      </div>
    </section>
    <section id="repuestos">
      <!-- Sección de destacados -->
      <div class="container-promocion">
        <div class="title-section title-section-white">
          <h2>Este Japonés llegó con un kit que te llevas de una.</h2>
          <p>Compra tu FUSO y llévate un Kit de repuestos de mantenimiento sin costo adicional</p>
          <button id="openModal" type="button" data-seo="modal-link">Ver Términos y Condiciones</button>
        </div>
      </div>
    </section>
    <section id="nuestro-concensionario">
      <!-- Sección Concensionario -->
      <div class="title-section">
        <h2 class="">Red de concesionarios, Talleres y Distribuidores de repuestos autorizados</h2>
      </div>
      <div class="container-carousel">
        <div class="card-container-carousel owl-carousel">
          <div class="card">
            <img src="./assets/images/concensionarios.png" alt="Imagen 1">
            <div class="info-card-container">
              <h2>Alemana Automotriz</h2>
              <h3>Barranquilla</h3>
              <div class="card-info">
                <p class="ubication">Vía 40 No. 77B-59</p>
                <a href="tel:+1234567890" class="phone">Tel: (5) 3773159</a>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="./assets/images/concensionarios.png" alt="Imagen 2">
            <div class="info-card-container">
              <h2>Alemana Automotriz</h2>
              <h3>Barranquilla</h3>
              <div class="card-info">
                <p class="ubication">Vía 40 No. 77B-59</p>
                <a href="tel:+1234567890" class="phone">Tel: (5) 3773159</a>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="./assets/images/concensionarios.png" alt="Imagen 3">
            <div class="info-card-container">
              <h2>Alemana Automotriz</h2>
              <h3>Barranquilla</h3>
              <div class="card-info">
                <p class="ubication">Vía 40 No. 77B-59</p>
                <a href="tel:+1234567890" class="phone">Tel: (5) 3773159</a>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="./assets/images/concensionarios.png" alt="Imagen 4">
            <div class="info-card-container">
              <h2>Alemana Automotriz</h2>
              <h3>Barranquilla</h3>
              <div class="card-info">
                <p class="ubication">Vía 40 No. 77B-59</p>
                <a href="tel:+1234567890" class="phone">Tel: (5) 3773159</a>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="./assets/images/concensionarios.png" alt="Imagen 5">
            <div class="info-card-container">
              <h2>Alemana Automotriz</h2>
              <h3>Barranquilla</h3>
              <div class="card-info">
                <p class="ubication">Vía 40 No. 77B-59</p>
                <a href="tel:+1234567890" class="phone">Tel: (5) 3773159</a>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="./assets/images/concensionarios.png" alt="Imagen 5">
            <div class="info-card-container">
              <h2>Alemana Automotriz</h2>
              <h3>Barranquilla</h3>
              <div class="card-info">
                <p class="ubication">Vía 40 No. 77B-59</p>
                <a href="tel:+1234567890" class="phone">Tel: (5) 3773159</a>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="./assets/images/concensionarios.png" alt="Imagen 5">
            <div class="info-card-container">
              <h2>Alemana Automotriz</h2>
              <h3>Barranquilla</h3>
              <div class="card-info">
                <p class="ubication">Vía 40 No. 77B-59</p>
                <a href="tel:+1234567890" class="phone">Tel: (5) 3773159</a>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="./assets/images/concensionarios.png" alt="Imagen 5">
            <div class="info-card-container">
              <h2>Alemana Automotriz</h2>
              <h3>Barranquilla</h3>
              <div class="card-info">
                <p class="ubication">Vía 40 No. 77B-59</p>
                <a href="tel:+1234567890" class="phone">Tel: (5) 3773159</a>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="./assets/images/concensionarios.png" alt="Imagen 5">
            <div class="info-card-container">
              <h2>Alemana Automotriz</h2>
              <h3>Barranquilla</h3>
              <div class="card-info">
                <p class="ubication">Vía 40 No. 77B-59</p>
                <a href="tel:+1234567890" class="phone">Tel: (5) 3773159</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>



    <!-- <section id="faq">
      <div class="title-section title-section-gray">
        <h2>Preguntas Frecuentes</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam</p>
      </div>
      <div>
        <div class="faq">
          <h3>¿Cuantos concesionarios hay en mi localidad?</h3>
          <div class="answer">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
              invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua, at vero eos et accusam.</p>
          </div>
        </div>
        <div class="faq">
          <h3>¿Cuantos concesionarios hay en mi localidad?</h3>
          <div class="answer">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
              invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua, at vero eos et accusam.</p>
          </div>
        </div>
        <div class="faq">
          <h3>¿Cuantos concesionarios hay en mi localidad?</h3>
          <div class="answer">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
              invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua, at vero eos et accusam.</p>
          </div>
        </div>
        <div class="faq">
          <h3>¿Cuantos concesionarios hay en mi localidad?</h3>
          <div class="answer">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
              invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua, at vero eos et accusam.</p>
          </div>
        </div>
        <div class="faq">
          <h3>¿Cuantos concesionarios hay en mi localidad?</h3>
          <div class="answer">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
              invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua, at vero eos et accusam.</p>
          </div>
        </div>

      </div>
    </section> -->
    <section id="contact">
      <!-- Sección de destacados -->
      <div class="container-contact">
        <picture>

          <img src="./assets/images/contact.png" alt="Kit de repuestos">
        </picture>
        <div class="title-section title-section-white">
          <h2>Contáctanos</h2>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
            Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
          <div class="info-contact">
            <a href="tel:+573213648597" class="phone">+57 321 364 85 97</a>
            <p class="email">admin@fuso.com.co</p>
            <p class="ubication">Cra 11A No 93A-62 oficina 301. Bogotá - Colombia</p>
          </div>
        </div>

      </div>
    </section>
    <div class="modal">
      <div class="modal-dialog modal-dialog-centered modal-md"></div>
      <div class="modal-content">
        <div class="modal-header">
          <h2>TÉRMINOS Y CONDICIONES CAMPAÑA KIT DE REPUESTOS MANTENIMIENTO FUSO</h2>
          <button class="close">&times;</button>
        </div>
        <div class="modal-body"></div>
        <p>Vigencia: 4 de mayo al 30 de junio de 2023
          Condiciones generales a tener en cuenta:
          El cliente no podrá exceder un rango de más de 1.000 kilómetros por cada intervalo de mantenimiento y será de
          su responsabilidad el cumplimiento de este beneficio.

          El valor correspondiente al kit de repuestos para el mantenimiento preventivo perdido no será reembolsable, ni
          redimible, ni retroactivo, ni acumulable con otras promociones.

          Únicamente están cubiertas las referencias y cantidades por vehículo descritas para cada intervalo de
          mantenimiento, según el caso.

          El cliente recibirá sin costo el kit de repuestos para los mantenimientos en 12 meses o 50.000 km lo que
          primero ocurra.

          Podrá reclamarlos en cualquier Concesionario y/o taller autorizado de Divemotor Colombia S.A., presentando la
          carta cuyo diligenciamiento y seguimiento es responsabilidad única y exclusiva del concesionario y/o taller,
          para la aplicación de la presente acción comercial.

          El cliente podrá reclamar en cada rutina iniciando en los 10.000 kms de recorrido del vehículo o llevar el
          paquete total del kit de repuestos para 12 meses o 50.000 kms, lo que primero ocurra.

          Una vez superado el kilometraje del kit de mantenimiento a reclamar, el cliente tiene hasta 1,000 km
          adicionales para reclamar el Kit respectivo. No aplica entrega retroactiva de los kits de mantenimiento.

          Divemotor Colombia S.A. se reserva el derecho de cancelar o aplazar la Acción Comercial en cualquier momento y
          sin previo aviso, sin que haya lugar a reclamación o compensación alguna informando de esta esta situación al
          Concesionario.

          Divemotor Colombia S.A. se reserva el derecho de decidir sobre cualquier tema no especificado en esta Acción
          Comercial, siendo su decisión irrevocable y vinculante.
        </p>
      </div>
    </div>
    </div>
    </div>
  </main>
  <footer id="terminos-condiciones">
    <!-- Footer -->
    <div class="terms-container">
      <h2>
        Política Tratamiento de Datos
      </h2>
      <p>Divemotor Colombia utiliza cookies para poder conocer las preferencias de los visitantes y así poder optimizar
        la presentación de las páginas web. Las cookies son pequeños archivos que se almacenan temporalmente en su disco
        duro. La información contenida en las cookies facilita la navegación y hace posible que el usuario alcance un
        alto grado de satisfacción al visitar una página web. Asimismo, las cookies nos ayudan a identificar las
        secciones más populares de nuestra oferta en internet. De esta forma podemos adaptar a sus necesidades los
        contenidos de nuestra página web de un modo más preciso y, por tanto, mejorar nuestras ofertas para usted. Las
        cookies también resultan útiles a la hora de averiguar si ya se ha producido previamente una comunicación entre
        su ordenador y nuestra página. Se identifica únicamente la cookie en su ordenador. Los datos relacionados con su
        persona solo se almacenarán en forma de cookies si usted lo permite (por ejemplo, para simplificar el acceso a
        un sitio protegido en internet, de tal forma que usted no deba introducir su ID de usuario y su contraseña cada
        vez que entra.)</p>
    </div>
  </footer>
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
</body>

</html>