<div class="complete-banner">
  <picture>
    <source srcset="https://dummyimage.com/414x600/000/fff.png" media="(max-width: 767.98px)" type="image/png">
    <img src="https://dummyimage.com/1920x800/000/fff.png" alt="" title="" typeof="foaf:Image">
  </picture>

  <div class="container-text">
    <h1 class="title-banner">What is Lorem Ipsum?</h1>
    <p class="description-banner">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
      has been the industry's
      standard dummy text ever since the 1500s</p>
  </div>
</div>


<div class="complete-banner">
  <picture>
    <source srcset="https://dummyimage.com/414x600/000/fff.png" media="(max-width: 767.98px)" type="image/png">
    <img src="https://dummyimage.com/1920x800/000/fff.png" alt="" title="" typeof="foaf:Image">
  </picture>

  <div class="container-text">
    <h3 class="subtitle-banner">Neque porro quisquam est qui dolorem</h3>
    <h1 class="title-banner">What is Lorem Ipsum?</h1>
    <p class="description-banner">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
      has been the industry's
      standard dummy text ever since the 1500s</p>
    <a class="link-banner" href="/" data-seo="">CLICK</a>
  </div>
</div>
<div class="complete-banner complete-banner-video">
  <video width="1000" height="600" controls>
    <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>

  <div class="container-text">
    <h3 class="subtitle-banner">Neque porro quisquam est qui dolorem</h3>
    <h1 class="title-banner">What is Lorem Ipsum?</h1>
    <p class="description-banner">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
      has been the industry's
      standard dummy text ever since the 1500s</p>
    <a class="link-banner" href="/" data-seo="">CLICK</a>
  </div>
</div>


<div class="separate-banner">
  <picture>
    <source srcset="https://dummyimage.com/414x600/000/fff.png" media="(max-width: 767.98px)" type="image/png">
    <img src="https://dummyimage.com/490x500/000/fff.png" alt="" title="" typeof="foaf:Image">
  </picture>

  <div class="container-text">
    <h1 class="title-banner">What is Lorem Ipsum?</h1>
    <p class="description-banner">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
      has been the industry's
      standard dummy text ever since the 1500s</p>
  </div>
</div>