/* ==================== COLORS ====================*/

// Primarios
$color-brand--primary: #E52520;
$color-brand--secondary: #000000;
$color-brand--tertiary: #d0cece;

// Complementarios
$color-complementary--primary: #404040;
$color-complementary--secondary: #999999;
$color-complementary--tertiary: #f2f2f2;

// Neutrales
$color-neutral--white: #ffffff;

$color-neutral--black: #000000;
$color-neutral--black-02: #212121; // #000000DE;

$color-neutral--gray: #999999;
$color-neutral--gray-02: #555555;
$color-neutral--gray-03: #5A5A5A;
$color-neutral--gray-04: #666666; // #00000099;
$color-neutral--gray-05: #707070;

$color-neutral--light-gray: #eaeaea;
$color-neutral--light-gray-02: #d0cece;
$color-neutral--light-gray-03: #E0E0E0; // #0000001F;
$color-neutral--light-gray-04: #9E9E9E; // #00000061;
$color-neutral--light-gray-05: #CECECE; // #0000001F;

// Utilidad
$color-utility--red: red;

$color-utility--light-red: #E63385;
$color-utility--light-red-02: #F7EEEE;

$color-utility--dark-red: #B00020;

$color-utility--green: #009C66;