.complementary-information-section {
  padding: 1% 0 0 0;
  &.special--offers {
    padding: 0;
    @media (max-width: $tablet) {
      padding: 15% 0 0 0;
    }
    .container {
      .main__title {
        padding-bottom: 6%;
        text-align: center;

        p {
          font-weight: 300;
          color: black;
          font-size: 2rem;
          text-transform: uppercase;
          text-align: center;

          @media (max-width: $desktopLS) {
            font-size: 1.5rem;
          }
          @media (max-width: $desktop) {
            font-size: 1.3rem;
          }
          @media (max-width: $tablet) {
            font-size: 15px;
          }
          span {
            color: black;
            font-size: 3.2rem;
            display: block;
            font-weight: 300;
            @media (max-width: $desktopLS) {
              font-size: 2.9rem;
            }
            @media (max-width: $desktop) {
              font-size: 2.5rem;
            }
            @media (max-width: $tablet) {
              font-size: 25px;
              margin: 0;
            }
          }
        }
      }
    }
  }
  @media (max-width: $tablet) {
    padding: 0;
  }
  .details-content {
    padding: 0 5%;
    margin: 0 0 6rem;
    // display: grid;
    // grid-template-columns: repeat(auto-fill, 400px);
    @media (max-width: $tablet) {
      padding: 0;
      margin: 0;
    }
    justify-content: center;
    @media (max-width: $desktop) {
      flex-wrap: wrap;
    }

    .col-md-4 {
      padding: 0;
      // &.cards__info{
      //   width:100%
      // }
      &.special-offers {
        position: relative;
        .detail-block_restaurant {
          .title_restaurant {
            p {
              height: 126px;
            }
          }
        }
        .special-offers_icon {
          position: absolute;
          top: -18%;
          left: 50%;
          transform: translate(-50%, 18%);
          width: 50px;
          height: 50px;
          z-index: 3;
          @media (max-width: $tablet) {
            top: -11%;
            transform: translate(-50%, 11%);
          }
          span {
            width: 100% !important;
            height: 100% !important;
            img {
              width: 100% !important;
              height: 100% !important;
            }
          }
        }
      }
      &:last-child {
        .detail-block-title {
          &.title__room {
            font-size: 19px !important;
            height: 45px !important;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
      .detail-block {
        padding: 20px 40px;
        background-color: $grayLight;
        text-align: center;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        max-height: 500px;
        min-height: 185px;
        gap: 5px;
        flex-direction: column-reverse;
        &.detail-block_restaurant {
          flex-direction: column-reverse;
        }

        .detail-block-title {
          font-size: 16px;
          font-weight: 300;
          color: $gray;
          margin-bottom: 0;
          height: 70px;
          &.title__room {
            height: initial;
            font-size: 30px;
            font-weight: 500;
            color: #8e8e8e;

            @media (max-width: $tablet) {
              font-size: 24px;
            }
          }
          &.title_restaurant {
            height: initial !important;
          }
          @media (max-width: $desktopLS) {
            height: 75px;
            font-size: 14px;
          }
          @media (max-width: $tablet) {
            height: 141px;
          }
          .detail-block-information {
            display: block;
            font-weight: 100;
          }
        }
        .detail-block-subitle {
          font-size: 1.14rem;
          color: #454545;
          font-weight: 300;
          padding: 8px 0;
          position: relative;
          &.nocontent {
            height: 39.9px;
            @media (max-width: $desktopLS) {
              height: 39.9px;
            }
          }
          &.isMeters {
            &::after {
              position: absolute;
              top: 20%;
              right: 38%;
              transform: translate(-38%, -20%);
              content: "2";
              color: #454545;
              display: block;
              font-size: 12px;
              @media (max-width: $desktopLS) {
                right: 35%;
                transform: translate(-35%, -20%);
              }
              @media (max-width: $tablet) {
                right: 15%;
                transform: translate(-15%, -20%);
              }
            }
          }
        }
        .detail-block-type {
          margin-top: 15px;
          font-weight: 500;
          font-size: 1.14rem;
          color: black;

          text-transform: uppercase;
          // &.restaurant__info {
          //   margin-bottom: 0;
          //   margin-top: 0;
          //   font-size: 16px;
          //   font-weight: 300;
          //   color: $gray;
          // }
          &.rooms__info {
            margin: 0;
            padding: 8px 0;
          }
        }
        &::after {
          position: absolute;
          content: "";
          width: 1px;
          height: 50%;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          background-color: #dddddd;
        }
      }
      &:last-child {
        .detail-block {
          &::after {
            display: none;
          }
        }
      }

      @media (max-width: $desktop) {
        &:nth-child(1),
        &:nth-child(2) {
          width: 50%;
        }
        &:nth-child(2) {
          .detail-block {
            position: relative;
            &::after {
              display: none;
            }
          }
        }
        &:nth-child(3) {
          width: 100%;
          .detail-block {
            position: relative;
            &::after {
              position: absolute;
              content: "";
              width: 90%;
              height: 1px;
              top: 0;
              right: 0;
              left: 50%;
              transform: translateX(-50%);
              background-color: #dddddd;
              display: block;
            }
          }
        }
      }
    }
  }
  .content-info {
    .content-description {
      text-align: center;
      padding: 0 15%;
      @media (max-width: $desktop) {
        padding: 0 5%;
      }
    }
  }
}
