<nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item page-item--previous"><a class="page-link" href="#">Anterior</a></li>
    <li class="page-item is-active"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item page-item--next"><a class="page-link" href="#">Siguiente</a></li>
  </ul>
</nav>