.educon-container {
    #block-educon-content {
        .node__content {
            .layout--onecol {
                .layout__region--content {
                    .unipack__banner {
                        position: relative;
                        height: 400px;
                        @include media-query(mobile) {
                            height: auto;
                        }
                        .layout--twocol-section {
                            display: block !important;
                            height: 400px;
                            @include media-query(mobile) {
                                height: auto;
                            }
                            .layout__region--first {
                                & > .field--type-image {
                                    height: 400px;
                                    @include media-query(mobile) {
                                        height: auto;
                                    }
                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: contain;
                                        object-position: right;
                                    }
                                }
                            }
                            .layout__region--second {
                                position: absolute;
                                top: 28%;
                                left: 10%;
                                display: block !important;
                                width: initial !important;
                                @include media-query(mobile) {
                                    top: 60%;
                                    left: 10%;
                                }
                                .field--name-subtitle {
                                    color: #172666;
                                    font-size: 2.8rem;
                                    margin: 12px 0;
                                    width: 60%;
                                    text-align: left;
                                    line-height: initial;
                                    font-weight: 700;
                                    @include media-query(mobile) {
                                        font-size: 2.2rem;
                                    }
                                }
                                .field--name-title {
                                    color: #172666;
                                    font-size: 2rem;
                                    font-weight: 500;
                                    text-align: left;
                                    margin: 0;
                                    @include media-query(mobile) {
                                        font-size: 1.8rem;
                                    }
                                }
                                .field--name-body {
                                    font-size: 2.6rem;
                                    margin: 0;
                                    text-align: left;
                                    margin: 14px 0;
                                    @include media-query(mobile) {
                                        font-size: 2rem;
                                    }
                                    p {
                                        text-align: left;
                                        max-width: 435px;
                                        color: $color-btn-a;
                                        padding: 0;
                                        font-weight: 300;
                                    }
                                }
                            }
                        }
                    }

                    .unipack__slider {
                        margin: 24px 20px;
                        padding: 20px;
                        //position: relative;
                        & > .field--name-slider {
                            margin: 0 auto;
                            position: relative;
                            .field__item {
                                .owl-stage-outer {
                                }
                                .media--type-media-slider {
                                    max-width: 1440px;
                                    margin: 0 auto;
                                    @include media-query(desktopXL) {
                                        max-width: 1000px;
                                    }
                                    @include media-query(desktopL) {
                                        max-width: 992px;
                                    }
                                    .field--name-field-media-image {
                                        width: 100%;
                                        img {
                                            width: 100%;
                                            height: 100%;
                                            object-fit: cover;
                                        }
                                    }
                                    .field--name-name {
                                        position: absolute;
                                        top: 50%;
                                        left: 10%;
                                        transform: translate(10%, -50%);
                                        .field__label,
                                        .field__item {
                                            color: white;
                                        }
                                        & > .field__label {
                                            font-size: 2.6rem;
                                            @include media-query(mobile) {
                                                font-size: 2rem;
                                            }
                                        }
                                        & > .field__item {
                                            font-size: 2.8rem;
                                            @include media-query(mobile) {
                                                font-size: 2.2rem;
                                            }
                                        }
                                    }
                                    .field--name-subtitle {
                                        display: none;
                                    }
                                }
                            }
                            .owl-nav {
                                display: flex;
                                position: absolute;
                                top: 50%;
                                left: 0;
                                width: 100%;
                                justify-content: space-between;
                                align-items: center;
                                @include media-query(mobile) {
                                    display: none;
                                }
                                button {
                                    width: 40px;
                                    height: 40px;
                                    background-color: rgba(255, 255, 255, 0.9);
                                    border-radius: 50%;
                                    border: 1px solid #172666;
                                    &.owl-prev {
                                        margin-left: 40px;
                                        background-image: url("./assets/img/izquierda.svg");
                                        background-size: auto;
                                        background-repeat: no-repeat;
                                        background-position: center;
                                        display: block;
                                        outline: none;
                                        span {
                                            display: none;
                                            font-size: 2.5rem;
                                            content: "";
                                        }
                                    }
                                    &.owl-next {
                                        margin-right: 40px;
                                        background-image: url("./assets/img/derecha.svg");
                                        background-size: auto;
                                        background-repeat: no-repeat;
                                        background-position: center;
                                        display: block;
                                        outline: none;
                                        span {
                                            display: none;
                                            font-size: 2.5rem;
                                            content: "";
                                            font-size: 2.5rem;
                                        }
                                    }
                                    &:hover {
                                        background-color: rgba(255, 255, 255, 0.9);
                                    }
                                }
                            }
                            .owl-dots {
                                position: absolute;
                                left: 50%;
                                bottom: -15%;
                                transform: translate(-50%, 15%);
                                @include media-query(mobile) {
                                    bottom: -7%;
                                    transform: translate(-50%, 7%);
                                }
                                .owl-dot {
                                    width: 10px;
                                    height: 10px;
                                    background-color: #9e64bb;
                                    border-radius: 50%;
                                    border: 1px solid white;
                                    margin: 0 2px;
                                    &.active {
                                        width: 15px;
                                        height: 15px;
                                    }
                                }
                            }
                        }
                    }

                    .unipack__about {
                        margin: 54px 0 0 0;
                        position: relative;
                        max-width: 1440px;
                        & > .coursera {
                            margin: 0 auto;
                            @include media-query(desktopXL) {
                                max-width: 1140px;
                            }
                            @include media-query(desktopL) {
                                max-width: 990px;
                            }

                            .container__coursera-information {
                                grid-template-columns: 1fr 479px;
                                grid-template-rows: 45px 1fr 45px;
                                z-index: 3;
                                @include media-query(mobile) {
                                    grid-template-columns: 1fr;
                                    grid-template-rows: auto;
                                    grid-template-areas:
                                        "desc"
                                        "images";
                                }
                                &::before {
                                    content: "";
                                    background-image: url("./assets/img/arrow_sedes.svg");
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    width: 100%;
                                    height: 303px;
                                    vertical-align: 0;
                                    border-top: 0;
                                    border-right: 0;
                                    border-bottom: 0;
                                    border-left: 0;
                                    margin-right: 0;
                                    position: absolute;
                                    top: 11%;
                                    left: -43%;
                                    z-index: 0;
                                }
                                .coursera__image {
                                    overflow: hidden;
                                    border-radius: 6px;
                                    padding: 0;
                                    margin-left: 0;
                                }
                                .container_desciprion {
                                    background-color: transparent !important;
                                    z-index: 3;
                                    .information {
                                        h2 {
                                            font-size: 2.8rem;
                                            color: #172666;
                                            @include media-query(mobile) {
                                                font-size: 2.2rem;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .unipack__title {
                        & > .itemTitle-1 {
                            color: #172666;
                            margin-top: 2.8rem;
                            @include media-query(mobile) {
                                font-size: 2.2rem;
                            }
                        }
                        & > .itemBody-1 {
                            text-align: center;
                            max-width: 750px;
                            margin: 0 auto;
                            p {
                                strong {
                                    font-size: 1.6rem;
                                }
                                text-align: center;
                                margin-bottom: 2rem;
                                font-family: "Lato", sans-serif;
                                font-size: 1.6rem;
                                font-weight: 300;
                                padding: 0 20px;
                            }
                        }
                    }
                    .block-views-blockunipacks-list-unipacks {
                        position: relative;
                        margin-bottom: 36px;
                        .view-id-unipacks {
                            margin: 0px 30px;
                            padding: 0 20px;
                            position: inherit;
                            @include media-query(mobile) {
                                margin: 0px 10px;
                                padding: 0 10px;
                            }
                            .view-content.sliderUnipacksCards {
                                position: inherit;
                                .owl-stage-outer {
                                    position: inherit;
                                }
                                .views-row {
                                    display: grid;
                                    grid-template-columns: 10px 1fr 10px;
                                    grid-template-areas:
                                        "images images images"
                                        ". desc .";
                                    padding: 8px;
                                    .our-programs__image {
                                        grid-area: images;
                                        width: 100%;
                                        //height: 347px;
                                        overflow: hidden;
                                        border-radius: 6px;
                                        position: relative;
                                        img {
                                            width: 100%;
                                            height: 100%;
                                            object-fit: contain;
                                        }
                                        .arrow {
                                            bottom: 0;
                                            height: 148px;
                                            left: -53px;
                                            position: absolute;
                                            width: 148px;
                                            @include media-query(desktopXL) {
                                                left: -53px;
                                            }
                                            @include media-query(mobile) {
                                                height: 200px;
                                                width: 200px;
                                                left: -70px;
                                            }
                                            svg {
                                                height: 100%;
                                                width: 100%;
                                            }
                                        }
                                    }
                                    .our-programs__info {
                                        grid-area: desc;
                                        display: flex;
                                        flex-direction: column;
                                        width: 100%;
                                        z-index: 3;
                                        margin-top: -44px;
                                        background-color: white;
                                        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
                                        padding: 12px;
                                        border-radius: 6px;
                                        .info__tags {
                                            height: 29px;
                                            .item-list {
                                                ul {
                                                    display: flex;
                                                    justify-content: flex-start;
                                                    align-items: flex-start;
                                                    /* margin: 0; */
                                                    text-align: center;
                                                    gap: 12px;
                                                    li {
                                                        margin: 0;
                                                        background-color: #f2f2f2;
                                                        border-radius: 6px;
                                                        font-size: 14px;
                                                        padding: 4px 12px;
                                                    }
                                                }
                                            }
                                        }
                                        .info__title {
                                            margin: 14px 0;
                                            text-transform: uppercase;
                                            font-weight: 700;
                                            font-size: 1.8rem;
                                            overflow: hidden;
                                            display: inline-block;
                                            text-overflow: ellipsis;
                                            height: 40px;
                                            color: #172666;
                                            @include media-query(desktopXL) {
                                                font-size: 1.6rem;
                                                margin: 0;
                                            }
                                        }
                                        .description {
                                            margin: 14px 0;
                                            overflow: hidden;
                                            display: inline-block;
                                            height: 69px;
                                            width: 100%;
                                            text-overflow: ellipsis;
                                            font-weight: 300;
                                            font-size: 1.6rem;
                                            @include media-query(desktopXL) {
                                                font-size: 1.4rem;
                                            }
                                        }
                                        .info__info-general {
                                            display: grid;
                                            grid-template-columns: repeat(3, 1fr);
                                            place-content: center;
                                            align-items: center;
                                            justify-items: center;
                                            border-bottom: 1px solid $color-bottom-border;
                                            gap: 8px;
                                            .info__modalidad,
                                            .info__inversion,
                                            .info__duracion {
                                                display: flex;
                                                flex-direction: column;
                                                height: 70px;
                                                align-items: center;
                                                h2 {
                                                    font-size: 1.4rem;
                                                    margin-bottom: 8px;
                                                }
                                                p {
                                                    font-size: 1.24rem;
                                                    font-weight: 300;
                                                }
                                            }
                                        }
                                        .info__read-more {
                                            text-align: center;
                                            margin: 12px 0 0 0;
                                            a {
                                                text-decoration: underline;
                                                text-transform: uppercase;
                                                &:hover {
                                                }
                                            }
                                        }
                                    }
                                }
                                .owl-nav {
                                    display: flex;
                                    position: absolute;
                                    top: 50%;
                                    left: 0;
                                    width: 100%;
                                    justify-content: space-between;
                                    align-items: center;
                                    @include media-query(mobile) {
                                        display: none;
                                    }
                                    button {
                                        width: 40px;
                                        height: 40px;
                                        background-color: rgba(255, 255, 255, 0.5);
                                        border-radius: 50%;
                                        border: 1px solid #172666;
                                        &.owl-prev {
                                            margin-left: 10px;
                                            background-image: url("./assets/img/izquierda.svg");
                                            background-size: auto;
                                            background-repeat: no-repeat;
                                            background-position: center;
                                            display: block;
                                            outline: none;
                                            span {
                                                display: none;
                                                content: "";
                                                font-size: 2.5rem;
                                            }
                                        }
                                        &.owl-next {
                                            margin-right: 10px;
                                            background-image: url("./assets/img/derecha.svg");
                                            background-size: auto;
                                            background-repeat: no-repeat;
                                            background-position: center;
                                            display: block;
                                            outline: none;
                                            span {
                                                display: none;
                                                content: "";
                                                font-size: 2.5rem;
                                            }
                                        }
                                        &:hover {
                                            background-color: rgba(255, 255, 255, 0.9);
                                        }
                                    }
                                }
                                .owl-dots {
                                    position: absolute;
                                    left: 50%;
                                    bottom: -22px;
                                    transform: translate(-50%, 22%);
                                    @include media-query(mobile) {
                                        bottom: -5%;
                                        transform: translate(-50%, 5%);
                                    }
                                    .owl-dot {
                                        width: 10px;
                                        height: 10px;
                                        background-color: #9e64bb;
                                        border-radius: 50%;
                                        border: 1px solid white;
                                        margin: 0 2px;
                                        &.active {
                                            width: 15px;
                                            height: 15px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .unipack__popup {
                        margin: 12px 0;
                        .complete-block-how-study {
                            .complete-block-how-study--img {
                                display: none;
                            }
                            .complete-block-how-study--info-block {
                                text-align: center;
                                margin: 0;
                                .block-field-blockblock-contentblock-popup-card-unipacktitle {
                                    .itemTitle-2 {
                                        font-size: 2.8rem;
                                        font-family: "Montserrat", sans-serif;
                                        color: #172666;
                                        text-transform: uppercase;
                                        font-weight: 700;
                                        @include media-query(mobile) {
                                            font-size: 2rem;
                                        }
                                    }
                                }
                                .block-field-blockblock-contentblock-popup-card-unipackblock-description {
                                    .field--name-block-description {
                                        p {
                                            font-size: 1.6rem;
                                            font-family: "Lato", sans-serif;
                                            color: #172666;
                                        }
                                    }
                                }
                            }
                            .complete-block-how-study--cards {
                                .block-views-blockhow-study-home-unipacks {
                                    .view-how-study-home {
                                        .cardsStudy0 {
                                            .views-row {
                                                .block-how-study--info {
                                                    .field--name-node-title {
                                                        h2 {
                                                            color: #172666;
                                                        }
                                                    }
                                                    .field--name-short-description {
                                                        p {
                                                            text-align: center;
                                                            font-weight: 300;
                                                            height: 140px;
                                                            overflow: hidden;
                                                            text-overflow: ellipsis;
                                                            display: inline-block;
                                                            margin: 0 auto;
                                                            font-size: 1.5rem;
                                                            color: #172666;
                                                        }
                                                    }
                                                }
                                            }
                                            .owl-nav {
                                                display: none;
                                            }
                                            .owl-dots {
                                                display: none;
                                                position: absolute;
                                                left: 50%;
                                                bottom: -9%;
                                                transform: translate(-50%, 8%);
                                                @include media-query(mobile) {
                                                    display: block;
                                                }
                                                .owl-dot {
                                                    width: 10px;
                                                    height: 10px;
                                                    background-color: #9e64bb;
                                                    border-radius: 50%;
                                                    //border: 1px solid white;
                                                    margin: 0 2px;
                                                    &.active {
                                                        width: 15px;
                                                        height: 15px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            &::before {
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 100%;
                                width: 100%;
                                background-color: #f6c22a;
                                opacity: 0.94;
                            }
                        }
                    }
                    .unipack__form {
                        margin: 12px 0;
                        position: relative;
                        height: 528px;
                        width: 100%;
                        display: block;
                        @include media-query(mobile) {
                            height: auto;
                        }
                        & > .field--type-image {
                            height: 100%;
                            @include media-query(mobile) {
                                margin-top: 280px;
                                z-index: 3;
                            }
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        & > .field--name-webform {
                            position: absolute;
                            top: 50%;
                            right: 5%;
                            transform: translate(-5%, -50%);
                            background-color: transparent;
                            padding: 16px;
                            @include media-query(mobile) {
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                transform: initial;
                                z-index: 0;
                                background-color: #f8f8f8;
                            }
                            form {
                                display: grid;
                                grid-template-columns: repeat(2, 300px);
                                grid-template-areas:
                                    "title title"
                                    "radios radios"
                                    "nombre nombre"
                                    "cc cel"
                                    "email unipack"
                                    "accept btn"
                                    ". btn";
                                gap: 8px;
                                @include media-query(mobile) {
                                    gap: 12px;
                                }
                                @include media-query(mobile) {
                                    grid-template-columns: 1fr;
                                    grid-template-areas:
                                        "title"
                                        "radios"
                                        "nombre"
                                        "cc"
                                        "cel"
                                        "email"
                                        "unipack"
                                        "accept"
                                        "btn";
                                }
                                .js-form-item {
                                    margin: 0;
                                    display: flex;
                                    padding: 4px 0;
                                    @include media-query(mobile) {
                                        padding: 8px 0;
                                    }
                                    label {
                                    }
                                }
                                label {
                                    color: #172666;
                                    font-weight: 600;
                                }
                                input {
                                    box-shadow: 0px 2px 4px 0px rgba(119, 119, 119, 0.3);
                                    height: 35px;
                                    border-radius: 6px;
                                    border: none;
                                    @include media-query(mobile) {
                                        height: 45px;
                                    }
                                }
                                #edit-markup {
                                    grid-area: title;
                                    flex-direction: column;

                                    h2 {
                                        font-size: 2.6rem;
                                        color: #172666;
                                        font-weight: 700;
                                        margin-bottom: 16px;
                                        margin-top: 24px;
                                        @include media-query(mobile) {
                                            font-size: 2.2rem;
                                        }
                                    }
                                    p {
                                        color: #777777;
                                        font-weight: 300;
                                    }
                                }
                                .js-form-item-study-uniminuto {
                                    grid-area: radios;
                                    align-items: center;
                                    gap: 80px;
                                    position: relative;
                                    @include media-query(mobile) {
                                        flex-direction: column;
                                        align-items: flex-start;
                                        gap: 0;
                                    }
                                    // label{
                                    //     font-weight: 300;
                                    // }
                                    #edit-study-uniminuto {
                                        display: flex;
                                        flex-direction: row;
                                        gap: 60px;
                                        justify-content: center;
                                        align-items: center;
                                        @include media-query(mobile) {
                                            gap: 24px;
                                        }
                                        & > .form-item-study-uniminuto {
                                            flex-direction: row;
                                            align-items: center;
                                            gap: 12px;
                                            input {
                                                box-shadow: none;
                                            }
                                        }
                                    }
                                    .form-item--error-message {
                                        padding: 0 4px;
                                        position: absolute;
                                        bottom: -18%;
                                        left: 50%;
                                        display: flex;
                                        align-items: center;
                                        background-color: rgba(255, 0, 0, 0.5);
                                        border-radius: 6px;
                                        gap: 12px;
                                        strong{
                                            color: white;
                                            font-weight: 300;
                                        }
                                    }
                                }
                                .js-form-item-name-lastname {
                                    grid-area: nombre;
                                    flex-direction: column;
                                }
                                .js-form-item-document-number {
                                    grid-area: cc;
                                    flex-direction: column;
                                }
                                .js-form-item-cellphone {
                                    grid-area: cel;
                                    flex-direction: column;
                                }
                                .js-form-item-email {
                                    grid-area: email;
                                    flex-direction: column;
                                }
                                .js-form-item-unipack {
                                    grid-area: unipack;
                                    flex-direction: column;
                                    select {
                                        box-shadow: 0px 2px 4px 0px rgba(119, 119, 119, 0.3);
                                        height: 35px;
                                        border-radius: 6px;
                                        border: none;
                                        appearance: none;
                                        -moz-appearance: none;
                                        -webkit-appearance: none;
                                        background-image: url("./assets/img/arrow_select_unipack.svg");
                                        background-repeat: no-repeat;
                                        background-position: calc(100% - 16px) center;
                                        padding-right: 5px;
                                        background-size: auto;
                                        @include media-query(mobile) {
                                            height: 45px;
                                        }
                                    }
                                }
                                .js-form-item-terms-of-service {
                                    grid-area: accept;
                                    flex-direction: row;
                                    gap: 8px;
                                    align-items: center;
                                    justify-content: flex-start;
                                    margin-top: 8px;
                                    @include media-query(mobile) {
                                        align-items: flex-start;
                                    }
                                    input[id="edit-terms-of-service"] {
                                        box-shadow: none;
                                        border: 1px solid #c6c6c6 !important;
                                        border-radius: 6px;
                                        width: 21px;
                                        height: 21px;
                                        cursor: pointer;
                                    }
                                    label {
                                        text-decoration: underline;
                                        font-weight: 300 !important;
                                        cursor: pointer;
                                        font-size: 1.2rem;
                                        width: 100%;
                                        @include media-query(mobile) {
                                            font-size: 1.2rem;
                                            // flex-direction: column-reverse;
                                        }
                                    }
                                }

                                .form-actions {
                                    grid-area: btn;
                                    text-align: end;
                                    @include media-query(mobile) {
                                        text-align: center;
                                    }
                                    input {
                                        height: 50px;
                                        width: 200px;
                                        border-radius: 6px;
                                        border: none;
                                        font-size: 1.5rem;
                                        text-transform: uppercase;
                                        background-color: #172666;
                                        color: white;
                                        font-weight: 700;
                                        box-shadow: none;
                                        @include media-query(mobile) {
                                            width: 100%;
                                        }
                                        &:hover {
                                            background-color: transparent;
                                            border: 1px solid $color-btn-a;
                                            color: #172666;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .unipack__partner {
                        .itemTitle-3 {
                            color: #172666;
                        }
                    }

                    .unipack__coursera {
                        & > .coursera {
                            .container__coursera-information {
                                .container_desciprion {
                                    .information {
                                        h2 {
                                            font-weight: 700;
                                            color: #172666;
                                            strong {
                                                color: #172666;
                                                font-weight: 700;
                                            }
                                        }
                                        a {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
